<!-- Shows Section -->
<section id="shows" class="content-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Shows</h2>
      <p>The Atlanta Improv Festival will be delivering a weekend packed with improv! <%#= link_to "Tickets available now!", "/tickets/index.html" %></p>

      <% data.schedule.each do |day| %>
        <div class="row">
          <h3 class="text-center"><%= day[0] %></h3>

          <div class="col-xs-6 text-right main-stage-col">
            <h4>Main Stage</h4>
            <% day[1]["main-stage"].each do |show| %>
              <%= partial "show-link", locals: {show: show} %>
            <% end %>
          </div>

          <div class="col-xs-6">
            <h4>Black Box</h4>
            <% day[1]["blackbox"].each do |show| %>
              <%= partial "show-link", locals: {show: show} %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
