---
layout: "show"
title: "Action Show"
time: "Saturday 10:30pm"
bio: "<p><strong>The only 2 person improv show so extreme, it requires 4 people.</strong></p>
<p>Your favorite action movie cliches wound up in one completely improvised set of insanity. This thrill ride is the fastest improv roller coaster you’ve ever set foot in. You’ll sweat Don Johnson when this show is done with you.</p>"
image: "action-show.png"
url: "http://actionshow.tv/"
facebook: "https://www.facebook.com/actionshow1"
twitter: "actionshow1"
instagram: "https://instagram.com/actionshow1/"
youtube: "https://www.youtube.com/channel/UCHLZnFYhAOsz4A8mM4F-RNA"
---
