---
layout: "show"
title: "Amanda and Emily"
time: ""
location: "Orlando, FL"
bio: '<p>Improv duo Amanda Wirtz and Emily Fontano are real life best friends and improvisers. They are known to talk loudly, often and overshare with their audience - no topic is off limits. Join them and your fellow audience members on a musical trip of self discovery, forgiveness and absolute hilarity inspired by conversations with the crowd! </p>'
image: "amanda-emily.png"
---
