---
layout: "show"
title: "Amanda and Emily"
time: "Friday 10:30pm & Saturday 10:30pm"
bio: '<p>Improv duo Amanda Wirtz and Emily Fontano want to answer your questions. Whether it be "What are the best pranks to play on a camping trip?" or "Did my husband mean it when he said I used to be more fun?" These girls know it all. Join them and your fellow audience members on a trip of self discovery, forgiveness and absolute hilarity. No show is the same so ask as many questions as you like. And bring that good for nothing husband of yours too.</p>'
image: "amanda-emily.jpg"
---
