---
layout: "show"
title: "Archibald & Hill"
time: "Friday 10pm"
bio: "<p>Since starting in Level 1 class together at the iO Chicago, Archibald &amp; Hill

have been &quot;improv brothers&quot;.  Playing as a part of the powerhouse team

&quot;People of Earth&quot; and in many different shows since, they embraced a style

that uses the height of their intelligence and the depth of their silly (often in the

same scene).  Together as a duo, the two perform a theatrical and energetic

style of improv that draws on a wide variety of characters, tones and

scenarios.</p>"
image: "archibald-hill.jpg"
---
