---
layout: "show"
title: "Armando with Ryan Cameron"
time: "Friday @ Midnight"
day: fri
location: "Atlanta, GA"
bio: "<p>Atlanta radio legend <strong>Ryan Cameron</strong> is the guest monologuist for the All-Star Armando show!</p>
<p>He'll tell personal stories to inspire all the great improvisers from the evening.</p>"
image: "ryan-cameron.jpg"
---
