---
layout: "show"
title: "ASPN Finals Preview: Live!"
time: "Friday 11:40pm"
location: "Atlanta, GA"
day: fri
bio: "<p>Your leaders in Atlanta Improv Festival Battle Coverage, <strong>ASPN</strong> (Action Sports Programming Network, a subsidiary of <a href='https://actionshow.tv'>Action Show</a>) provides a recap of the Battle semi-finals and a preview of the FINAL BATTLE.</p>
<p>In-depth analysis, exclusive interviews, talking head segments. We've got it all!</p>
<p>Streaming live to Facebook from the Village Theatre.</p>"
image: "aspn.png"
url: "https://actionshow.tv/"
facebook: "https://www.facebook.com/actionshow1"
---
