---
layout: "show"
title: "At the Barre"
time: ""
location: "Denver, CO"
bio: "<p>Remember when you were a kid and you used to choreograph dances with your friends in your room? Now that we're nearly all 30-somethings, we decided it would be fun to do that onstage with an audience. AND use dance inspired stories from the audience to inspire montage-style scenes, using dance themed edits.</p>"
---
