---
layout: "show"
title: "Automatic Improv"
time: "Thursday 8pm"
day: thurs
location: "Atlanta, GA"
bio: "<p>Since 2008, Automatic Improv’s cast has rocked Atlanta theaters and festivals with improv comedy that pushes both themselves and their audiences.
Come see them perform a long-form showcase of their irreverent improv and witness the comedy and drama that can only spawn out of a seasoned group 
of improvisers who know each other a little TOO well at this point.</p>
<p>Tonight's Cast: Bill Worley, Sarah Simmons, Keith Hooker, Rickey Boynton, Kevin Barry, Amy Farley, Ronnie Johnson-Lopez</p>"
image: "automatic-improv.png"
url: "http://www.automaticimprov.com/"
facebook: "https://www.facebook.com/AutomaticImprov"
twitter: "automaticimprov"
instagram: "https://instagram.com/automaticimprov/"
youtube: "https://www.youtube.com/user/AutomaticImprov"
---
