---
layout: "show"
title: "Automatic Improv"
time: "Thursday 8pm"
bio: "<p>Automatic Improv is an Atlanta-based improv group that creates fast-paced and hilarious comedy based on YOUR suggestions for audiences all over the city! We perform a combination of short-form and long-form improvisational comedy that has been called awesome, hilarious... and what was the question?</p>"
image: ""
---
