---
layout: "show"
title: "Automatic Improv"
time: "Thursday 8pm"
day: thurs
location: "Atlanta, GA"
bio: "<p>Automatic Improv is an Atlanta-based improv group that creates fast-paced and hilarious comedy based on YOUR suggestions. They'll be showcasing brand-new, original games, as well as old favorites.</p>"
image: "automatic-improv.png"
url: "http://www.automaticimprov.com/"
facebook: "https://www.facebook.com/AutomaticImprov"
twitter: "automaticimprov"
instagram: "https://instagram.com/automaticimprov/"
youtube: "https://www.youtube.com/user/AutomaticImprov"
---
