---
layout: "show"
title: "The Basement Theatre"
time: "Thursday 8pm"
url: "http://www.thebasementtheatre.com/"
bio: "<p><em>The Basement Theatre presents</em>: <strong>RORSCHACH</strong><br/>
An audience member creates an ink blot on stage and our players use the image to delve into there inner psyche.  We then use that info to perform a Harold-based improv show.  Rorschach time and time again definitively proves that we are crazy!</p>"
image: "basement.png"
facebook: "https://www.facebook.com/TheBasementTheatre"
---
