---
layout: "show"
title: "The Basement Theatre"
time: "Thursday 8pm"
url: "http://www.thebasementtheatre.com/"
bio: "<p>The Basement Theatre's mission is to provide
laughter, learning, entertainment and enlightenment
through spontaneous improvisational theatre
to audiences in Atlanta and throughout the world,
with a strong commitment to the community.
</p>"
image: "basement.jpg"
facebook: "https://www.facebook.com/TheBasementTheatre"
tix: "https://www.xorbia.com/e/?DNKFNKJNCNILNLFNCNGEE&referral=http%3A%2F%2Fvillagecomedy%2Ecom%2Fevent%2Fatlanta-improv-festival-2%2F"
---
