---
layout: "show"
title: "The Bilgrones Effect"
time: "Friday 11pm"
bio: "<p>The Bilgrones Effect is an Atlanta based two woman improv team featuring best friends Jessica Bilgrad and Julia Jones.  Heavily character driven with a focus on truthful organic scenes, the Bilgrones Effect seeks to create worlds that are both human and ridiculous. After performing at the DelClose Improv Fest 2015, Julia was tremendously inspired by the UCB 2 woman show - Elephants Gerald. Wanting to create something like that in Atlanta, Julia sent an overly emotional text to her partner in crime, Bilgrad - and the two have never been the same.</p>"
image: "bilgrones.jpg"
facebook: "https://www.facebook.com/The-Bilgrones-Effect-1656832531239411/?fref=ts"
---
