---
layout: "show"
title: "Botox or Bangs"
time: "Thursday 8pm"
day: thurs
location: "Atlanta, GA"
bio: "<p>There’s a point in every woman’s life when she must make a choice: Botox or bangs? Watch comedic alchemy as the amazing women known as Botox or Bangs turn audience suggestions into pure gold. The show will delight and amaze you, astound and confound you, and will just generally be a fun time! You’ll learn way too much about them.</p>"
image: "botox-or-bangs.jpg"
facebook: "https://www.facebook.com/botoxorbangs/"
---
