---
layout: "show"
title: "Business Casual"
time: "Friday 11:40pm & Saturday 6:30pm"
days:
 - fri
 - sat
location: "Delray Beach, FL"
bio: "<p>Business Casual is a cast under Improv U, Inc. a non profit dedicated to bringing the art of improv to South Florida. In addition to long form and short form fun, BizCas is best known for its musical improv! Watch the cast create one of a kind songs on the spot!</p>
<p>The cast is a collection of great improvisers from all over South Florida from Miami to West Palm Beach all with unique abilities in short form, long form, and musical improv.</p>
<p>The cast is directed by Anthony Francis. </p>"
image: "business-casual.png"
---
