---
layout: "show"
title: "Butthead"
time: "Friday 9pm & Saturday 7:30pm"
bio: "<p>Butthead is an independent long form improv group based in Chicago made up of 6 buddies who met at iO Chicago. We begin our sets with a series of poems and then launch into fun wild comedy wild. We've performed all over Chicago since August of 2015.</p>
<p>Butthead is the longest running iO Cagematch winner, with 14 consecutive wins under our belt. We currently host a monthly variety show at iO Chicago and perform monthly at Flat Iron Chicago.</p>"
image: "butthead.jpg"
---
