---
layout: "show"
title: "Captain's Log"
time: "Saturday 8pm"
bio: "<p>Space: The Final Frontier. Improv: A frontier before that. Captain’s Log: Somewhere in the middle.
Join the crew of Captain’s Log as they take you on a completely improvised trek through our universe, inspired by your suggestions. Most of the crew are big fans of sci-fi, but some have never seen an episode of Star Trek. It’s sci-fi mishmash hodgepodge of galactic proportions.<br/>
Featuring special guest star, <strong>Dan Fogler</strong>!</p>"
image: "captains.jpg"
facebook: "https://www.facebook.com/CaptainsLogATL"
tix: "https://www.xorbia.com/e/?DNKFNKJNCNIKNKCNHNGDF&referral=http%3A%2F%2Fvillagecomedy%2Ecom%2Fevent%2Fatlanta-improv-festival-2%2F"
---
