---
layout: "show"
title: "Cash & Carry"
time: "Friday 10:40pm & Saturday 7:00pm"
days:
 - fri
 - sat
location: "Ferndale, MI"
bio: "<p>Cash & Carry are a musical duo from Ferndale, MI. Members RJ Cach and Cari Sue Murphy have been performing together since 2015 and decided to form this duo in Spring 2016, in hopes of bringing more musical improv to the Motor City & to have an outlet for their constant impulse to sing! Together they explore all the songs that might be found at a particular Location, suggested by the audience. Directed and accompanied by Jeremy St. Martin whose vast musical experience takes the show to a whole new level, his piano melodies have been known to make people weak in the knees. Cash and Carry pride themselves on being equal parts goofy and heartfelt, and have never turned down the opportunity for a dance break.</p>"
image: "cash-carry.png"
---
