---
layout: "show"
title: "Chalk Outline"
time: "Thursday 7:30pm"
day: thurs
bio: "<p>Are they cleaning up a grisly murder or playing hopscotch? It could be either. It’s probably both! Every Sunday at 5pm at The Village Theatre, they’re making magic, creating realities, & snuggling the hell out of each other.</p>"
image: "chalk-outline.jpg"
url: "http://villagecomedy.com"
facebook: "https://www.facebook.com/ChalkOutlineATL"
---
