---
layout: "show"
title: "CLUTCH"
time: "Saturday 8pm"
bio: "<p>CLUTCH is an improv show unlike anything you have ever seen before.
Specializing in The Deconstruction (inspired by Miles Stroth) as a long form format, CLUTCH is an all-star
ensemble from Theatre 99 in Charleston, SC. Using laser focused scene work, this group creates an entire
world that flows from the undeniably real to the truly insane. CLUTCH isn't afraid to walk the tightrope
between rich grounded improv and hilarious madness.</p>
<p>In each show these talented improvisors will shatter complex relationships, breaking them down and
exploring every aspect of them. From Shakespeare to Shark Week, The Civil War to Chuck Norris, nothing is
sacred in this high energy explosion of improv. CLUTCH is the show that proves the whole IS greater than
the sum of its parts.</p>
<p>
CLUTCH stars:<br/>
Andy Adkins<br/>
John Brennan<br/>
Thomas Dotstry<br/>
Dan Hanf<br/>
Andy Livengood<br/>
Matt Perry<br/>
Ali Sylvester<br/>
Mark Szlachetka</p>"
image: "clutch.png"
tix: "https://www.xorbia.com/e/?DNKFNKJNCNIKNKCNHNGDF&referral=http%3A%2F%2Fvillagecomedy%2Ecom%2Fevent%2Fatlanta-improv-festival-2%2F"
---
