---
layout: "show"
title: "CONSOLATION Fries"
time: "Saturday 7pm"
bio: "<p>Ian McCain & Chris Moody
Ian is a terrible dancer from Orlando. He studied Improv at SAK Comedy Lab and performed there with their cast of \"Lab Rats.\" Currently Ian is a cast member of ComedySportz Detroit, and also, as mentioned before, a really crummy dancer. When
he was a little kid, he used to pretend he was a werewolf. Chris is an excellent dancer from Philadelphia. He is a Resident Cast Understudy and a member of Dragon Army at Go Comedy! Improv Theater and Producer of the Detroit Improv Festival. When he was a little kid he used to pretend he hunted werewolves.</p>"
image: ""
---
