---
layout: "show"
title: "Kaiser Permanente's Crazy Mix Ups"
time: "Saturday 10:30pm - ???"
bio: "<p>Improvisers from any of the shows over the weekend performing together for the first time in unique, one-time-only shows!</p>
<p>Will we see <em>Amanda & The Sweet Rufioes</em> or <em>Physically Super Business Human</em> or <em>People of Action Show</em>? Who knows?! It's a crazy mix up!</p>
<p>They're so crazy, it's <strong>FREE</strong>! Sponsored by <a href='http://kp.org/georgia'>Kaiser Permanente</a>.</p>"
image: "crazy-mix-up.png"
---
