---
layout: "show"
title: "Dark Side of the Room"
time: "Saturday 9pm"
bio: "<p><em>Dad's Garage presents:</em> <strong>Dark Side Of The Room</strong></p>
<p>Dark Side of the Room takes a classic film and shows you what the black people you never see were doing during the movie.</p>
<p>Starring Rickey Boynton, Jon Carr, Cris Gray, Khari Hunt, Mark Kendall</p>"
image: "darkside.jpg"
url: "http://www.darksidecomedy.com/"
facebook: "https://www.facebook.com/pages/Dark-Side-of-the-Room/1491093457842109"
twitter: "darksideATL"
tix: "https://www.xorbia.com/e/?DNKFNKJNCNIKNKCNHNGDF&referral=http%3A%2F%2Fvillagecomedy%2Ecom%2Fevent%2Fatlanta-improv-festival-2%2F"
---
