---
layout: "show"
title: "Dad's Garage"
time: "Thursday 10pm"
location: "Atlanta, GA"
bio: "<p>Dad's Garage engages, cultivates and inspires artists and audiences alike by producing innovative, scripted and improvised works that are recognized locally, nationally and internationally for being undeniably awesome.</p>"
image: "dads.png"
url: "http://www.dadsgarage.com/"
facebook: "https://www.facebook.com/dadsgaragetheatre"
twitter: "dads_garage"
youtube: "https://www.youtube.com/user/DadsGarageTV"
---
