---
layout: "show"
title: "Dad's Garage"
time: "Friday 9pm"
bio: "<p>Dad's Garage engages, cultivates and inspires artists and audiences alike by producing innovative, scripted and improvised works that are recognized locally, nationally and internationally for being undeniably awesome.</p>"
image: ""
---
