---
layout: "show"
title: "DANGER"
time: "Thursday 10pm"
bio: "<p>Village Theatre's own Danger! The Show is addicted to risk and performs every Thursday night. You never quite know what can or will happen. The comedic risks they take are often hilarious... always DANGEROUS!</p>"
image: "danger.jpg"
---
