---
layout: "show"
title: "Ed, Tom & Rueben Present: Rueben, Ed & Tom"
time: "Friday 8pm"
bio: "<p>At its heart, ET&RP:RE&T is a show about friendship. Stupid, idiotic, glorious friendship. You know those dumb stories with your pals that you can't explain to anyone because \"you had to be there?\" Well congratulations, you're about to be… Here. There. Wherever. Hyper-committed, over-reactionary and flat-out stupid at times, see why the old improv rule of always saying \"yes\" is a dangerous weapon in the wrong hands.</p>"
image: "ed-tom-rueben.jpg"
url: "http://www.edtomandrueben.com/"
facebook: "https://www.facebook.com/edtomandrueben/"
twitter: "EdTomandRueben"
youtube: "https://www.youtube.com/channel/UC1U1qVnFS19j-wFgrtHSK7w"
---
