---
layout: "show"
title: "Equanimity"
time: "Friday 8pm"
bio: "<p>Equanimity is a long form duo made up of the Directors of Post Dinner Conversation Inc, Tampa's original long
form improv company. They combine character as game with narrative long form and organic discovery to
showcase the best of bad relationships. Playing on the chemistry of their own relationship, Nicholas and Hannah
use inspirations from the relationships they know people have had, wish they've had, or think they do have,
always highlighting the comic truth in the ways people treat each other.</p>"
image: "equanimity.jpg"
---
