---
layout: "show"
title: "The Estesstentials"
time: "Saturday 6:30pm"
bio: '<p>The Estesstentials is a group of teen improvisers studying at Moonlight Stage Company under the direction of Jeris Donovan. These comics perform long form improvisation at a level beyond their years. Their infectious energy has made them the talk of The Triangle earning them a spot at the 2016 NC Comedy Arts Festival and reoccurring gigs performing at Comedy Worx and opening for seasoned adult troupes such as Third Date and Transactors Improv. The group rang in the New Year performing at First Night Raleigh for the second time and continues to perform as a house team at Moonlight Stage Company.</p>
<p>From a recent review in Triangle Arts and Entertainment: “Moving focus is a skill in improv, and the Estesstentials were excellent at tossing the ball around while moving bodies around as well.” See why the “delightful and clever” Estesstentials is one improv troupe you should #never miss.</p>'
image: "estesstentials.jpg"
---
