---
layout: "show"
title: "Faces"
time: "Friday 7:30pm & Saturday 6:30pm" 
location: "St. Petersburg, FL"
days:
 - fri
 - sat
bio: '<p>Faces is a 2 man improv team from St. Petersburg, FL. Zach and Nicholas perform a mono scene, showcasing the weird chemistry of their character’s relationship forged through surreal circumstances and revealed through a high-paced monologue-hotspot that breaks the fourth wall and lets the audience peak inside their character’s heads as the story unfolds.</p>'
image: "faces.jpg"
bios:
  - "nicholas-riggs"
  - "zach-mouriz"
---
