---
layout: "show"
title: "Florida Studio Theatre"
time: "Saturday 7pm"
bio: "<p>Directed by Will Luera, FST Improv performs free-form style improvisation. The show is built on the concept
of \"follow the funny\" and proposes that every single moment, beat, line and movement in a show can be
deconstructed and used to lead you to the next scene. This is a high-energy improv experience that
redefines itself with every performance.</p>"
image: "florida-studio-theatre.png"
tix: "https://www.xorbia.com/e/?DNKFNKJNCNIKNKCNHNGDF&referral=http%3A%2F%2Fvillagecomedy%2Ecom%2Fevent%2Fatlanta-improv-festival-2%2F"
facebook: "https://www.facebook.com/fstimprov"
---
