---
layout: "show"
title: "Full Disclosure"
time: ""
location: "Knoxville, TN"
bio: '<p>FDC, a long-form improv & sketch comedy group self-taught on the UCB Comedy Improvisation Manual and "Truth in Comedy" by Charna Halpern. Before each practice and performance, we share our "full disclosure moments" and let everyone inside our heads.</p>'
image: "full-disclosure.jpg"
---
