---
layout: "show"
title: "Highwire Comedy Company"
time: "Thursday 9pm"
bio: "<p><em>Highwire Comedy Co. Presents</em>: <strong>The Soapbox Show</strong><br/>
This show is inspired by YOU! See some of Atlanta’s most veteran improvisers use true stories from the audience as inspiration for high-energy, fast-paced improvised comedy.</p>"
image: "highwire.png"
url: "http://www.highwirecomedy.com/"
facebook: "https://www.facebook.com/highwirecomedy"
twitter: "highwirecomedy"
instagram: "https://instagram.com/highwirecomedy/"
tix: "https://www.xorbia.com/e/?DNKFNKJNCNILNLFNCNGEE&referral=http%3A%2F%2Fvillagecomedy%2Ecom%2Fevent%2Fatlanta-improv-festival-2%2F"
---
