---
layout: "show"
title: "Hill Jones"
time: ""
location: "Los Angeles, CA"
bio: '<p>Hill Jones bring high energy and unique characters to each incredible world they create. Don’t miss this rare show from the two experienced improvisers Dave Hill (<em>Reno 911!</em>,<em>The Night is Young</em>) and Matt Jones (<em>Mom</em>, <em>Breaking Bad</em>).</p>
<p>And they just starred, wrote, and directed a movie together, <em>The Night is Young</em>.</p>'
image: "hill-jones.jpg"
bios:
  - dave-hill
  - matt-jones
---
