---
layout: "show"
title: "Improv Asshole"
time: "Saturday 11pm"
bio: "<p>Improv A-Hole is Village Theatre’s full fledged, home-grown Improv Comedy tournament. The audience votes on who they like the most (or the least!) after every scene…with hilarious consequences! It’s a college drinking game, mixed with a live-made-up-on-the-spot comedy show, spunked up just for Atlanta Improv Fest. We clean up nice... not that you'd know.</p>"
image: ""
---
