---
layout: "show"
title: "All-Star Improv Asshole"
time: "Saturday 11pm"
bio: "<p>Join members of all of Saturday's shows in The Village Theatre’s full fledged, home-grown Improv Comedy tournament. The audience votes on who they like the most (or the least!) after every scene…with hilarious consequences!</p>"
image: "fest.png"
---
