---
title: Shows
---

<section id="shows" class="container content-section">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Celebrating the <span class="blue">Atlanta</span> Improv Community</h2>
      <p><a href="http://villagecomedy.com">The Village Theatre</a> is playing host to the festival that brings Atlanta improvisers together, celebrating the growth of improv in our fine city. The Atlanta Improv Festival also opens its doors to performers from all over the country, making it a weekend full of laughing and learning from each other.</p>
      <p>Not only does it plan to be a weekend full of great improv, but proceeds from ticket sales supports <a href="http://www.dadsgarage.com/">Dad’s Garage</a> as they move into their new home. The growth of improv in Atlanta has been amazing over the past 20 years, and Dad's Garage has been a part of it the whole way. We’re excited to come together to celebrate how far we've all come.</p>
    </div>
  </div>
</section>
