---
layout: "show"
title: "j/k"
time: "Friday 8pm & Saturday 7pm"
bio: "<p>j/k is a duo that uses the format of a local morning news program, Jacksonville News Action 5, to explore the on screen and behind the scenes relationships of Cat Hyman and Jack Colby, the co-anchors. We also get to throw it out to field reporters and a variety of colorful characters being interviewed about the top stories of the day.</p>"
image: "jk.jpg"
facebook: "https://www.facebook.com/jk-1527962520836050/"
---
