---
layout: "show"
title: "Karwisch and Ruf"
time: "Saturday 6:00pm" 
location: "Atlanta, GA"
day: sat
bio: '<p>Karwisch and Ruf sprang out of a collaboration on Improv In Action, an improv podcast that seeks to close the gaps in improv knowledge that exist in many communities around the globe. The two quickly discovered they had a mutual interest in grounded scene-work, strong emotions and absurd characters. Their first form was called "Crooked People", a venture that followed the lives of people as they made their way towards redemption or dove deeper into madness. </p>'
image: "karwisch-ruf.jpg"
url: "http://improvinaction.libsyn.com/podcast"
---
