---
layout: "show"
title: "K.I.S.S."
time: "Saturday 6:30pm"
bio: "<p><em>Improv Dangerously</em> is the mantra of the organization. <em>No blood, no foul. Sidesplitting, surprising, and sometimes, absolutely silly. Keep your hands inside the ride, folks. Buckle up.</em></p>
<p>Going on 10 years old now, Kennesaw State University and Cobb County will never be the same. Specializing in the extemporaneous nature of performance, these guys are serious artists. Audiences at times cannot describe their experiences, often seemingly \"not knowing what hit them\" may be the most appropriate. But they find themselves grinning, smiling, and guffawing unexpectedly.</p>"
image: "kiss.jpg"
---
