---
layout: "show"
title: "Laughing Matters"
time: "Thursday 9pm"
bio: "<p>Founded in 1985, Laughing Matters is the longest-running Atlanta improv comedy troupe. The company’s mission is to use improvisation and humor to provide interactive entertainment and education for audiences, companies, groups, and organizations.</p>"
image: "laughing-matters.png"
url: "http://www.laughingmatters.com/"
facebook: "https://www.facebook.com/pages/Laughing-Matters/261564160572"
twitter: "LMMatters"
tix: "https://www.xorbia.com/e/?DNKFNKJNCNILNLFNCNGEE&referral=http%3A%2F%2Fvillagecomedy%2Ecom%2Fevent%2Fatlanta-improv-festival-2%2F"
---
