---
layout: "show"
title: "Laughing Matters"
time: "Thursday 9pm"
location: "Atlanta, GA"
bio: "<p>Now in its 30th year, Laughing Matters is the oldest improvisational comedy troupe in the South. We are a full service corporate entertainment and education company. In entertainment, we specialize in improvisational comedy shows, murder mysteries, trivia and game shows. In education, we provide actors and programs for trial preparation, attorney coaching, business scenario role-playing, conflict resolution, school programs and corporate team building.</p>"
image: "laughing-matters.png"
url: "http://www.laughingmatters.com/"
facebook: "https://www.facebook.com/pages/Laughing-Matters/261564160572"
twitter: "LMMatters"
---
