---
layout: "show"
title: "Let's Try This!"
time: "Saturday 6pm"
bio: "<p>Georgia Tech's improv troupe since 1989 and part of DramaTech Theatre!</p>"
image: "lets-try-this.jpg"
url: "http://www.letstrythis.org/"
facebook: "https://www.facebook.com/lttimprov"
twitter: "lttimprov"
---
