---
layout: "show"
title: "Let's Try This!"
time: "Saturday 6:00pm"
day: sat
location: "Atlanta, GA"
bio: "<p>Since its founding in 1989, Let's Try This! (LTT!) has entertained audiences as Dramatech Theatre's student-run resident improv troupe. As our name suggests, we encourage our members to try everything from short-form games to long-form sets to what-in-the-world-was-that?, and we strive to make each other feel confident and supported while doing so. Tonight we'll try our hand at The Living Room format and have some fun along the way! Check us out on Facebook or Twitter at LTTimprov.</p>"
image: "lets-try-this.jpg"
url: "http://www.letstrythis.org/"
facebook: "https://www.facebook.com/lttimprov"
twitter: "lttimprov"
---
