---
layout: "show"
title: "Let's Try This!"
time: "Saturday 6:00pm"
location: "Atlanta, GA"
bio: "<p>Since its founding in 1989, Let's Try This! (LTT!) has entertained audiences as Dramatech Theatre's student-run resident improv troupe. In addition to the multiple shows that we put on each semester, LTT! holds improv workshops twice a week that are free and open to the public on Mondays from 7pm to 9pm and Saturdays from 10am to 1pm. As our name suggests, we encourage our members to try everything from short-form games to long-form sets to what-in-the-world-was-that?, and we strive to make each other feel confident and supported while doing so. For more information, feel free to email us at <a href='mailto:ltt@dramatech.org'>ltt@dramatech.org</a> or check us out on Facebook or Twitter at LTTimprov.</p>"
image: "lets-try-this.jpg"
url: "http://www.letstrythis.org/"
facebook: "https://www.facebook.com/lttimprov"
twitter: "lttimprov"
---
