---
layout: "show"
title: "Listen, Stupid"
time: ""
location: "Ferndale, MI"
bio: "<p>Listen, Stupid hails from the mean streets of Detroit. Well, really the nicely paved streets of the suburbs, but they still bring the city's hustle and honesty to every show they do. Nuverre Naami and Tom Novik have been performing together since 2013, playing various shows, events, and festivals, and at a variety of venues and theaters. This duo loves to play all kinds of characters, using a montage of scenes to patiently explore and connect everyday relationships and encounters. </p>"
image: "listen-stupid.jpg"
---
