---
layout: "show"
title: "LochNessFoot"
time: "Friday 8pm"
bio: "<p>LochNessFoot is an improv monster collaboration, bringing colossal funnies to humanity. 
Chis Campbell and Scott Anderson are a conjoined improv creature who trudged out of the backwoods 
of The New Movement Theater in New Orleans 6 months ago. They like to play fast, game heavy, 
multiple character sets, having fun when the lights come up.</p>"
image: "lochnessfoot.jpg"
tix: "https://www.xorbia.com/e/?DNKFNKJNCNIKNKDNDFNGEE&referral=http%3A%2F%2Fvillagecomedy%2Ecom%2Fevent%2Fatlanta-improv-festival-2%2F"
---
