---
layout: "show"
title: "Low Rider"
time: "Saturday 10:30pm"
day: sat
location: "Orlando, FL"
bio: "<p>Low Rider is a five-friend improv team from Orlando, FL. The team met while performing and studying at SAK Comedy Lab, and have been performing together for just under a year. Most recently, the team has started <em>Hotsauce</em>, a bi-weekly, local indie longform improv showcase in Orlando.</p>
<p>Performers: Sean Rice, Jess Gaparolo, Alexandra Love Sarton</p>"
image: "low-rider.png"
---
