---
layout: "show"
title: "McGarnackle"
time: "Friday 9pm & Saturday 7pm"
bio: "<p>McGarnackle is a improvised police procedural.
The Troupe got together three years ago based on an idea from a \"Simpsons\" episode and the brilliant imagination of Orlando Lara. Lara asked Louis Hirsch an Improviser who had attended classes at IO with him be part of the two man show and McGarnackle was born.. McGarnackle combines continuing characters with new ones to create a unique form of improvisation. With both performers playing additional characters as well as continuing characters McGarnackle(Hirsch) The Chief(Lara), Cortez(Lara). The show thus has a continuity unsual in Improv but never fails to create a nwe and unique set of circumstances with each performance.</p>"
image: "mcgarnackle.jpg"
facebook: "https://www.facebook.com/McGarnackle-221893681232801/"
---
