---
layout: "show"
title: "Messing with a Friend"
time: "Friday 10pm"
day: fri
location: "Chicago, IL"
bio: '<p>Messing With a Friend features Susan Messing, and other invited talented and funny improvisors from around Chicago, from iO to Second City to The Annoyance. A collection of self-edited improvised scenes based on a single suggestion. A joyful, uncensored, and improvised romp through hell.</p>'
image: "messing-with-friend.jpg"
bios:
  - susan-messing
---
