---
layout: "show"
title: "Midy Zevlin"
time: "Friday 11pm / Saturday 7:30pm"
bio: "<p>Andy Devlin and Mike Zakarian have been performing together for over two years after meeting at ImprovBoston in Cambridge, MA. Since then, they' have performed all over the United States and Canada (International Baby!). The Midy Zevlin performs an exciting 2-person show that explores a world created by multiple characters. It is a smart and fast-paced performance that is enjoyed by both comedy nerds and first-time viewers.</p>"
image: "midy-zevlin.jpg"
---
