---
layout: "show"
title: "People of Earth"
time: "Saturday 8:00pm"
location: "Chicago, IL"
bio: "<p>People of Earth formed at iO Chicago in 1999. The ensemble remained a house team for five

years and performed the Harold while creating various other forms including Detours and the

Snow Globe.  Their shows often branched out into less structured, more organic longform shows

that pushed the limits of improv.  They gained a strong following, and a risky reputation.

Members went on to perform on Second City stages in Chicago and Las Vegas, Boom Chicago

in Amsterdam and now many currently perform, write, direct and produce in television and film.

Original members perform together to this day, and can now be seen performing at the iO West

and in festivals nation-wide. </p>

<p>People of Earth is:
<ul>
  <li>Dave Hill</li>
  <li>Ryan Archibald</li>
  <li>Alex Fendrich</li>
  <li>Jason Pardo</li>
  <li>Rush Howell</li>
</ul>
</p>"
---
