---
layout: "show"
title: "Physically Bold Comedy"
time: "Saturday 8pm & Midnight"
day: sat
location: "New York, NY"
bio: "<p>Physically Bold Comedy is a New York City-based improv and video sketch team. We all met in Boston, where we were resident cast members at ImprovBoston. Now, we host and perform improv at our own monthly variety show, Physically Bold Comedy Presents, at the People's Improv Theater.</p>
<p>We perform the Slacker improv form, meaning we tend to move fast and follow the funny! You can see our videos, improv sets and other news on our Facebook page.</p>"
image: "physically-bold.png"
facebook: "https://www.facebook.com/physicallybold/"
---
