---
layout: "show"
title: "Q&A with Jack McBrayer"
time: "Saturday 5:30pm"
bio: "<p>Jack McBrayer (<em>Quartet, 30 Rock</em>) - sits down Saturday evening at the Atlanta Improv Festival to answer questions about acting, improv, Hollywood and anything else you may want to ask! The Q & A will be held in an intimate theatre setting. Also, see Jack perform with the headliners, Quartet later Saturday night . </p>"
image: "jack-mcbrayer.jpg"
---
