---
layout: "show"
title: "Quartet"
time: "Saturday 10pm"
bio: "<p>Quartet is Chicago-style long form at its best! Originating at iO Chicago, the show has since branched out to iO West in Los Angeles for the last several years.  Come see <strong>Jack McBrayer, Tami Sagher, Sue Gillan</strong> and <strong>Jean Villepique</strong> put their patented spin on slow, patient, character-and- relationship-based scene work, spinning a single suggestion into an entire world.   These four Chicago improv veterans have improvised together in various combinations for over 15 years, and are delighted to bring Quartet to Atlanta!</p>
<h3>Jack McBrayer</h3>
<p>Jack McBrayer started his improv career at The Second City and iO in Chicago.  A Georgia native, Jack eventually moved to New York and Los Angeles, where he continued improvising with the Upright Citizens Brigade as well as iOWest.  From 2006 to 2013, he portrayed the role of Kenneth the Page on NBC's <em>30 Rock</em>, created by his Second City pal Tina Fey.  Jack has also appeared in such movies as <em>Talladega Nights:  The Ballad of Ricky Bobby</em>, <em>Forgetting Sarah Marshall</em>, and <em>Wreck It Ralph</em>. He is thrilled to be back in his home state...he was worried he was starting to lose his accent.</p>

<h3>Sue Gillan</h3>
<p>Sue is an alumnus of the Second City in Chicago.  She was a resident

company director there and, most recently, the Artistic Director of Boom

Chicago in Amsterdam, NL. Sue has been a Creative Director in ad agencies

where she has led teams of improviser/writers to make funny stuff for good

money. In addition, Sue has cast and directed commercials - she&#39;s also

auditioned for a shload of them so she knows how tough it can be to remain

yourself when the stakes are high</p>

<h3>Jean Villepique</h3>
<p>Jean began her improv career with The Mee-Ow Show at Northwestern

University.  She went on to study with Del Close at iO Chicago and then got

hired to tour with and then write and perform on the resident stages of The

Second City Chicago.  In New York, Jean taught and performed at The

Magnet Theater, and now in Los Angeles performs weekly in Quartet at the iO

West and Soundtrack at the UCBLA. She has performed with Rebecca Sohn

and Deb Downing in Switchboard at festivals in Phoenix, Denver,

Philadelphia, NY &amp; LA. She can be seen on old episodes of 30 Rock, The

Office, Modern Family and more recently Playing House and Baskets</p>

<h3>Tami Sagher</h3>
<p>Tami Sagher is a writer and producer on Girls and Inside Amy Schumer. She’s

also written for Broad City, How I Met Your Mother, Bored to Death, and 30

Rock. An alumna of the Second City mainstage in Chicago, Tami now

improvises weekly at the UCB theater in New York. This summer she can be

seen in Mike Birbiglia’s new film Don’t Think Twice. She’s thrilled to be in

Atlanta this weekend with some of her favorite people in the world to be

around: Jean, Sue and even Jack.</p>"
image: "quartet.jpg"
---
