---
layout: "show"
title: "Red Pill Players"
time: "Saturday 6:30pm" 
location: "Atlanta, GA"
day: sat
bio: "<p>Red Pill Players are a group of individuals banded by their love of improv. Raised and taught mostly within the improv and comedy scene of Atlanta. We back backgrounds that span within stand up, improv, sketch, film and music.  All of these are infused in our show in our show. No one show is the same and that's how we like it.</p>
<p>Take the red pill and we will show you how deep the rabbit hole goes. Enjoy the ride and enjoy the truth.</p>"
image: "red-pill-players.png"
url: "http://redpillplayers.com/"
facebook: "https://www.facebook.com/redpillplayers/"
twitter: "redpillplayers"
instagram: "https://www.instagram.com/redpillplayers/"
youtube: "https://www.youtube.com/channel/UCUVwDaOA_Qt5Qaqqu8XKfeA"
---
