---
layout: "show"
title: "Rufio"
time: "Friday 8:30pm"
location: "Atlanta, GA"
bio: "<p>Rufio is a two person long-form improv team - Cassidy Russell & Vincent Migliore - from Atlanta, GA. Their show has been described as two people who do so much they seem like ten people. They take this as a compliment</p>
      <p>While Rufio loves making an audience laugh, what they really love is making an audience feel strong emotions and creating characters that people care about. They build scenes organically, focusing first on their connection with each each other and following that through an evolving and progressing storyline. They play emotionally and find the intrinsic beauty in the connection between characters and between characters and their environments. Rufio builds emotionally-charged, important, funny realities. There's also a lot of snuggling.</p>"
image: "rufio.jpg"
facebook: "https://www.facebook.com/RufioImprovComedy/"
instagram: "https://www.instagram.com/rufioisinyourphone/"
url: "http://www.rufioimprov.com/"
---
