---
layout: "show"
title: "Rufio"
time: "Friday 8:30pm"
day: fri
location: "Atlanta, GA"
bio: "<p>Rufio is a two person long-form improv team - Cassidy Russell & Vincent Migliore - from Atlanta, GA. Their show has been described as two people who do so much they seem like ten people. They take this as a compliment.</p>"
image: "rufio.jpg"
facebook: "https://www.facebook.com/RufioImprovComedy/"
instagram: "https://www.instagram.com/rufioisinyourphone/"
url: "http://www.rufioimprov.com/"
---
