---
layout: "show"
title: "Runaways"
time: "Friday 10:30pm & Saturday 10:30pm"
bio: '<p>Running away to find adventure, these ladies have formed a strong bond, trusting eachother implicitly both on the stage and off.  They have played together in varying capacities and configurations for over a year.  Each runaway bringing a diverse set of experiences and skills to the table.</p>
<p>These ladies invite the audience to join their adventure.  Come run away with us!</p>'
image: "runaways.jpg"
facebook: "https://www.facebook.com/Runaways-500801456774331"
---
