---
layout: "show"
title: "Super Human"
time: ""
location: "Chicago, IL"
bio: "<p>Super Human is a veteran improv team featuring 10 women who started out together in Chicago and now
span the U.S. from coast-to- coast. It is a party, it is a movement, it is a ‘splash zone of
women.’ Intellectuals, Id monsters, cardigan-wearing panda lovers, these women are fierce individuals who
come together for one purpose: to celebrate each other and bring the audience into a world of true creative
freedom. The group starts every show by saying, &quot;We are Super Human, AND SO ARE YOU!&quot; and that just
about sums up their cause.&#39; Prepare for humor that is completely on point and refreshingly unapologetic.</p>
<p>Prepare for art.</p>
<p>Cast: Sarah Ashley, Devin Bockrath, Christina Boucher, Katie Klein, Irene Marquette, Jo Scott, Amber
Walker, Mary Cait Walthall (Not able to attend: Blair Beeken, Annie Donley)</p>"
image: "super-human.jpg"
# bios:
#  - "sarah-ashley"
#  - "christina-boucher"
#  - "katie-klein"
#  - "irene-marquette"
#  - "jo-scott"
#  - "mary-cait-walthall"
---
