---
layout: "show"
title: "The Sweet Potatoes"
time: "Friday 11pm & Saturday 7:30pm"
days:
 - fri
 - sat
location: "Toronto, ON 🇨🇦"
bio: "<p>The Sweet Potatoes consists of Brittney, hailing from the rural Albertan hamlet of Little Smoky, and Nina, a born and bred Torontonian. They favour longform improv with energetic, fast-paced scene work that fuses joyful play with genuine commitment. They deliver shorter scenes that aim to find the heart and the comedy as quickly as possible while entertaining the audience and each other. By using this approach, they can find a depth of heartfelt relationships and a wealth of comedy in situations ranging from absurd to mundane.</p>
<p>Brittney and Nina are graduates of the Second City Conservatory program and have both been Featured Players at the Bad Dog Theatre in Toronto. In 2017 they were shortlisted for the Pat and Tony Adams Freedom Fund for the Arts.</p>"
image: "sweet-potatoes.jpg"
---
