---
layout: "show"
title: "Thunderbox"
time: "Friday 8:30pm & Saturday 7pm"
days:
 - fri
 - sat
location: "New York, NY"
bio: "<p>
Thunderbox is a 2 person show made up of Tao Yang and Mike Zakarian.  They met in Boston but stormed

in NYC and that&#39;s where you can see them perform.  We know you can catch lightning in a bottle, but can

you catch Thunder in a Box?</p>"
---
