---
layout: "show"
title: "Town Hall Teaching Talk"
time: "Saturday 5:30pm"
day: sat
bio: "<p>The Improv Round Table will be a discussion on teaching,

teaching techniques and motivating a group.  The discussion will take place on Saturday

during the day with some of our headliners and directors.  This will be a town hall style

event, with everyone contributing.  This is a great avenue to trade

insights and help each other when everyone goes back home to their theatre

companies.</p>"
---
