---
layout: "show"
title: "Whole World Improv Theatre"
time: "Thursday 9pm"
bio: "<p>Whole World Theatre is an improvisational comedy theatre that has been exciting Atlanta audiences for 20 years. We’re a non-profit organization founded by a core of dedicated and talented young folks in 1994. We are the artistic home for over 40 company members that perform, crew shows, and teach classes.</p>"
image: "wwit.jpg"
url: "http://wholeworldtheatre.com/"
twitter: "WWITAtlanta"
facebook: "https://www.facebook.com/WholeWorldImprovTheatre"
---
