---
layout: "show"
title: "Whole World"
time: "Thursday 10pm"
bio: "<p>Whole World Theatre is an improvisational comedy theatre that has been exciting Atlanta audiences for 20 years. We’re a non-profit organization founded by a core of dedicated and talented young folks in 1994. We are the artistic home for over 40 company members that perform, crew shows, and teach classes.</p>"
image: ""
---
