<h2>Christina Boucher</h2>
<p>Christina has been improvising in Chicago since 2006. She performs with the acclaimed ensemble Super Human weekly at the Annoyance Theater. Recent favorite projects include improvising with iO Chicago's Virgin Daquiri and the ensemble T O N E directed by TJ Jagadowski and Dave Pasquesi.</p>
