<h2>Dave Hill</h2>
<img class="img-responsive" src="/images/bios/dave-hill.jpg" title="Dave Hill headshot" alt="Dave Hill headshot"/>
<p>Dave Hill is an actor, improviser and writer from Chicago where he trained at

the iO and Second City.  Now in LA, he improvises with Hill Jones, King Ten

and The Armando Show. His work can be seen in the Hulu original series

QUICK DRAW and the Comedy Central classic RENO 911.  His voice has

been heard on such animated series as AMERICAN DAD and THE MOST

POPULAR GIRLS IN SCHOOL as well as the upcoming DR. HAVOC&#39;S

DIARY on Fullscreen starting in July!   He co-wrote, co-directed and co-

starred in the up-coming feature film THE NIGHT IS YOUNG.</p>
