<h2>Irene Marquette</h2>
<p>Irene Marquette is a director, performer and writer. She is the creator and host of <em>The Curio Show</em> 
and recently worked on <em>Girlboss</em> for Netflix as Kay Cannon's assistant. </p>
