<h2>Jack McBrayer</h2>
<p>Jack McBrayer started his improv career at The Second City and iO in

Chicago.  A Georgia native, Jack eventually moved to New York and Los

Angeles, where he continued improvising with the Upright Citizens Brigade as

well as iOWest.  From 2006 to 2013, he portrayed the role of Kenneth the

Page on NBC&#39;s &#39;30 Rock&#39;, created by his Second City pal Tina Fey.  Jack has

also appeared in such movies as &#39;Talladega Nights:  The Ballad of Ricky

Bobby&#39;, &#39;Forgetting Sarah Marshall&#39;, and &#39;Wreck It Ralph&#39;.  He is thrilled to be

back in his home state...he was worried he was starting to lose his accent.</p>
