<h2>Jason Pardo</h2>
<img class="img-responsive" src="/images/bios/jason-pardo.jpg" title="Jason Pardo headshot" alt="Jason Pardo headshot"/>
<p>Before heading west, Jason studied and performed with major Chicago improv theaters including The

Second City, iO Chicago, The Annoyance Theater and ComedySportz. He made a new home teaching and

performing at iO West, and made a career in Hollywood working closely with Bob Odenkirk, Tim and Eric,

and a rich group of comedic talent as a Line Producer with Abso Lutely Productions. He's had his hand in

shows that run the comedy spectrum, including multiple seasons of <em>Tim and Eric Awesome Show Great

  Job!, The Eric Andre Show, Nathan for You, Comedy Bang Bang, The Birthday Boys, Decker,</em> and new

episodes of the Mr. Show reboot <em>With Bob and David</em>. He lives in Los Angeles with his wife and two

replacements.</p>
