<h2>Jean Villepique</h2>
<p>Jean began her improv career with The Mee-Ow Show at Northwestern

University.  She went on to study with Del Close at iO Chicago and then got

hired to tour with and then write and perform on the resident stages of The

Second City Chicago.  In New York, Jean taught and performed at The

Magnet Theater, and now in Los Angeles performs weekly in Quartet at the iO

West and Soundtrack at the UCBLA. She has performed with Rebecca Sohn

and Deb Downing in Switchboard at festivals in Phoenix, Denver,

Philadelphia, NY &amp; LA. She can be seen on old episodes of 30 Rock, The

Office, Modern Family and more recently Playing House and Baskets</p>
