<h2>Jo Scott</h2>
<p>Jo Scott is a proud member of <em>Super Human</em>, an all-female powerhouse that performs weekly 
at Annoyance Theater. She also understudies for The Second City Touring Company, runs and performs in 
Annoyance Theatre’s weekly sketch show, <em>Holy F**k Comedy Hour</em> and plays regularly at iO 
Theater with <em>Smokin’ Hot Dad</em>, <em>Virgin Daiquiri,</em> and <em>Seriously Unprepared</em>. 
Jo and her BFF & writing partner, Jeff Murdoch, have produced several <em>“Seriously Unprepared Presents”</em>
comedy shorts and, most recently, wrote episode 3 of NYTVF’s first original series, <em>“The Jamz,”</em> which 
can be seen on Netflix. More Jo here: <a href="https://twitter.com/joscotttt">@joscotttt</a></p>
