<h2>Katie Klein</h2>
<p>Katie Klein is from Shaker Heights, Ohio. she began performing in Washington DC, with iMusical at the Washington improv theater and with friends at the DC improv. She loves performing and teaching improv around the country. She is currently on the Second City e.t.c stage and performs every Wednesday at iO with her pals in the Late 90’s and Virgin Daiquiri. She can also be seen playing at the Annoyance theater on Tuesday nights with her sisters in Superhuman and whenever she can with her incredible husband Neil in Ed and Kath.</p>
