<h2>Mary Cait Walthall</h2>
<p>Mary Cait Walthall is a Chicago-based performer, writer, director, and teacher. 
She trained at the iO Theater, the Second City, and the London International School of Performing Arts. 
She has performed with the <em>Neo-Futurists</em>, <em>Theater Unspeakable</em>, <em>Baby Wants Candy</em>, and <em>Improvised Sondheim</em>, 
among others. Currently, she performs with <em>Super Human</em>, podcasts with the <em>Improvised Star Trek</em> podcast, 
teaches at the iO Theater, and makes video sketch with <em>Buffalo Buffalo</em>. </p>
