<h2>Ryan Archibald</h2>
<img class="img-responsive" src="/images/bios/ryan-archibald.jpg" title="Ryan Archibald headshot" alt="Ryan Archibald headshot"/>
<p>A Chicago Improv veteran of almost 20 years, Ryan currently directs for The

Second City&#39;s National Touring Company &amp; Theatricals.   A former Second

City resident company member in Las Vegas, Arch has toured, performed and

taught all over the US (The Second City, iO) and Europe (Boom Chicago).  He

performs every Friday with The Boys at The Second City and with Search

Engine at iO Chicago. He loves his dog, cat and the beautiful monster he is

about to marry.</p>
