<h2>Sarah Ashley</h2>
<p>Sarah Ashley performs with <em>Super Human</em>, <em>The Holy Fuck Comedy Hour</em> 
(both at The Annoyance Theater) and <em>Horsefly</em> (CIC Theater). Her written work 
has appeared on Reductress.com and she's directed sketch shows at iO and The Annoyance. 
In 2016 Sarah earned a Certificate in Creative Nonfiction Writing from the Univ. of 
Chicago. She currently teaches scene work at The Annoyance. Sarah is really proud of 
her “comedy” “food blog” The Foody Heads, but she’s from Minnesota so she has no idea 
how to brag about that. </p>
