<h2>Sue Gillan</h2>
<p>Sue is an alumnus of the Second City in Chicago.  She was a resident
company director there and, most recently, the Artistic Director of Boom
Chicago in Amsterdam, NL. Sue has been a Creative Director in ad agencies
where she has led teams of improviser/writers to make funny stuff for good
money. In addition, Sue has cast and directed commercials - she's also
auditioned for a shload of them so she knows how tough it can be to remain
yourself when the stakes are high</p>
