<h2>Susan Messing</h2>
<img class="img-responsive center-block" src="/images/bios/susan-messing.jpg" title="Susan Messing headshot" alt="Susan Messing headshot"/>
<p>Susan Messing, a NJ native and graduate of Northwestern University’s

Theatre School, has been an improviser and comedian for almost thirty

years. She is an alumna of the iO Theatre, Second City’s Mainstage, and a

founding member of Chicago’s infamous Annoyance Theatre. Susan

created and has taught her curriculum at iO and iO West, The Annoyance

Theatre, The Second City, and around the globe. Susan is an adjunct

instructor for DePaul University, The University of Chicago, and The

School at Steppenwolf. Her standup act with her puppet, Jolly, was

featured at the HBO/US Comedy Arts Festival in Aspen, and on Comedy

Central’s Premium Blend and NBC’s Late Fridays. Her most impressive bit

movie role was as a bad stripper in a halo brace in Let’s Go to Prison!

Every Tuesday night she performs at the iO with Blaine Swen in Blessing,

Thursday nights in her own critically acclaimed show, Messing with a

Friend, now in its 11 th year at The Annoyance, and Friday nights with The

Boys at The Second City. She was in the lineup for the TBS/Just For

Laughs festival all five years of its residence in Chicago. She presented

‘Braving the Unknown’ at TedXUofC in 2014.</p>

<ul>
  <li>“Improviser of the Year” – Chicago Improv Festival</li>
  <li>“Best Improviser” – Chicago Reader</li>
  <li>“Funniest Woman in Chicago” – Chicago Magazine</li>
</ul>
