<h2>Tami Sagher</h2>
<p>Tami Sagher is a writer and producer on Girls and Inside Amy Schumer. She’s

also written for Broad City, How I Met Your Mother, Bored to Death, and 30

Rock. An alumna of the Second City mainstage in Chicago, Tami now

improvises weekly at the UCB theater in New York. This summer she can be

seen in Mike Birbiglia’s new film Don’t Think Twice. She’s thrilled to be in

Atlanta this weekend with some of her favorite people in the world to be

around: Jean, Sue and even Jack.</p>
