<h1>College ID Pass</h1>
<h3>$5 online / $10 door</h3>
<ul>
  <li>General admission seating only</li>
  <li>20 tickets available for each show</li>
  <li>These tickets can be bought online, or if available, at the door</li>
</ul>
<br />

<h1>AIF Tournament Shows</h1>
<h3>$10 online / $15 door</h3>
<ul>
  <li>General admission seating only</li>
  <li>80 tickets available for each show</li>
  <li>These tickets can be bought online, or if available, at the door</li>
</ul>
<br />

<h1>Individual Shows</h1>
<h3>$10 online / $15 door</h3>
<ul>
  <li>General admission</li>
  <li>100 tickets available for each show</li>
  <li>These tickets can be bought online, or if available, at the door</li>
</ul>
<br />

<h1>Headliner Shows</h1>
<h3>$25 online / $35 door</h3>
<ul>
  <li>General admission</li>
  <li>100 tickets available for each show</li>
  <li>These tickets can be bought online, or if available, at the door</li>
</ul>
<br />

<h1>Saturday Headliner Shows</h1>
<h3>$35 online / $45 door</h3>
<ul>
  <li>General admission</li>
  <li>100 tickets available for each show</li>
  <li>These tickets can be bought online, or if available, at the door</li>
</ul>
<br />

<h1>Night Pass</h1>
<h3>Friday: $40 online / $50 door</h3>
<h3>Saturday: $55 online / $65 door</h3>
<ul>
  <li>Priority seating before GA tickets</li>
  <li>Max 80 tickets available for each night</li>
  <li>Exact amount of tickets we will be able to sell will depend on number of
    Weekend Passes sold</li>
  <li>These tickets are only for individual nights</li>
  <li>Your Night Pass gets you access to all the shows ON THAT NIGHT ONLY (This includes the AIF Battle Shows)</li>
  <li>You MUST be at the theatre in the Bar Area and checked in at the Box
    Office 15 minutes before the show you would like to see</li>
  <li>VT reserves the right to sell your seat for each show at show time if you
    have not checked in at the Box Office</li>
</ul>
<br />

<h1>VIP Weekend Pass</h1>
<h3>$100 online / $125 door</h3>
<ul>
  <li>Priority seating before EVERYONE ELSE</li>
  <li>Max 25 tickets sold for the weekend</li>
  <li>These tickets are for ALL THREE NIGHTS</li>
  <li>You have access to any and all shows for the entire weekend (This includes the AIF Battle Shows)</li>
  <li>You will be the first people let in to the theatre</li>
  <li>You must be at the theatre in the Bar Area and checked in at the Box Office
    15 minutes before the show you would like to see</li>
  <li>VT reserves the right to sell your seat for each show at show time if you
    have not checked in at the Box Office</li>
  <li>You get a fancy lanyard</li>
  <li>FREE Weekend Membership to the VT Mug Club</li>
  <ul>
    <li>You get a free VT mug for the weekend and draft beers cost you a $1
      less all weekend long</li>
  </ul>
  <li>Two FREE drink tickets per night (total of six)</li>

</ul>
<br />

<h1>Performer Pass - FREE</h1>
<ul>
  <li>Each performer gets a free Standby Pass to each show</li>
  <li>You will automatically be at the top of any standby ticket list created and get in free AFTER we sell extra tickets</li>
  <li>You can buy a ticket for $5 to any show (except headliners) and be seated with VIPs prior to the show</li>
  <li>You must be at the box office 15 minutes before the show you would like to see</li>
</ul>
<br />
