<h2>Tickets</h2>
<p>There are many ways to see the great shows at the Atlanta Improv Festival! Weekend passes, night passes, and individual show tickets are available!</p>
<div id="ticket-links" class="row">
  <div class="col-md-6">
    <p><i class="fa fa-ticket fa"></i> <a href="https://www.freshtix.com/events/atlanta-improv-festival-thursday">Thursday Night Tickets</a></p>
    <p><i class="fa fa-ticket fa"></i> <a href="https://www.freshtix.com/events/atlanta-improv-festival-friday">Friday Night Tickets</a></p>
    <p><i class="fa fa-ticket fa"></i> <a href="https://www.freshtix.com/events/atlanta-improv-festival-saturday">Saturday Night Tickets</a></p>
  </div>
  <div class="col-sm-6">
    <p class="highlight"><i class="fa fa-ticket fa"></i> <a href="https://www.freshtix.com/events/atlanta-improv-festival-vip-weekend-pass">Weekend VIP Pass</a></p>
  </div>
</div>
