<!-- ticket section -->
<section id="tix" class="content-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Tickets</h2>
      <p>There are many ways to see the great shows at the Atlanta Improv Festival! Weekend passes, night passes, and individual show tickets are available!</p>
      <p><i class="fa fa-ticket fa"></i> <a href="https://www.freshtix.com/events/atlanta-improv-fest">Weekend passes, night passes, and Main Stage show tickets</a></p>
      <p><i class="fa fa-ticket fa"></i> <a href="https://www.freshtix.com/events/atlanta-improv-cage-match-competition">Cagematch and Stage 2 tickets</a></p>
    </div>
  </div>
</section>
