<h2>Tickets</h2>
<p>There are many ways to see the great shows at the Atlanta Improv Festival! Weekend passes, night passes, and individual show tickets are available!</p>
<div id="ticket-links" class="row">
  <div class="col-md-6">
    <p><i class="fa fa-ticket fa"></i> <a href="#">Thursday Night Tickets</a></p>
    <p><i class="fa fa-ticket fa"></i> <a href="#">Friday Night Tickets</a></p>
    <p><i class="fa fa-ticket fa"></i> <a href="#">Saturday Night Tickets</a></p>
  </div>
  <div class="col-sm-6">
    <p class="highlight"><i class="fa fa-ticket fa"></i> <a href="#">Weekend VIP Pass</a></p>
  </div>
</div>
