@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Courgette|Noto+Sans+SC');

@font-face {
    font-family: 'thirsty_softregular';
    src: url('fonts/ThirstySoftRegular-webfont.eot');
    src: url('fonts/ThirstySoftRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ThirstySoftRegular-webfont.woff2') format('woff2'),
         url('fonts/ThirstySoftRegular-webfont.woff') format('woff'),
         url('fonts/ThirstySoftRegular-webfont.ttf') format('truetype'),
         url('fonts/ThirstySoftRegular-webfont.svg#thirsty_softregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  color: #c8d6e5;
  /*background: #FFF3E2;*/
  background: #341f97;
}
h2 {
  font-family: thirsty_softregular,Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  /*color: #341f97;*/
  color: #ff6b6b;
  text-transform: none;
  font-size: 45px;
}

.blue {
  color: #feca57;
}

.orange {
  /*color: rgb(240, 98, 59);*/
  color: #341f97;
}

.red {
  color: #341f97;
}
.question {
  font-style: italic;
  font-weight: bold;
}
.intro {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: top center;
  background-color: #341f97;
  margin-top: 50px;
  color: rgb(32, 31, 75);
  text-shadow: 0px 0px 20px rgba(255,255,255,0.75);
  min-height: 415px;
  margin-bottom: 30px;
}
.intro h1 {
  display: none;
}

h3 a, .navbar-custom a {
  /*color: rgb(32, 31, 75);*/
  color: #FFF;
}
h3 a:hover, .navbar-custom a:hover {
  /*color: #341f97;*/
  color: #c8d6e5;
}
a:hover {
  color: #ff9ff3;
  text-decoration: underline;
}

a {
  color: #feca57;
}

.logo {
  width: 550px;
  max-width: 100%;
}

.logo-biggest {
  width: 650px;
  max-width: 100%;
  padding: 5px;
}

.logo-cast-member {
  width: 400px;
  max-width: 100%;
  padding: 5px;
}

.logo-medium {
  width: 300px;
  max-width: 100%;
  padding: 5px;
}

.logo-small {
  max-height: 200px;
  max-width: 200px;
  padding: 5px;

}

.embed-map {
  width: 80%;
}

.navbar-brand {
  font-size: 15px;
}
@media (min-width: 767px) {
  .content-section {
    padding-top:100px;
  }
  p {
    margin-bottom: 10px;
  }
}

footer {
  border-top: 1px solid rgba(255,255,255,.3);
  padding-top: 25px;
}

.schedule-column h3 {
  margin-bottom: 0px;
}

@media (min-width: 767px) {
.main-sponsor {
  padding-top: 75px;
  padding-bottom: 30px;
}
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.vtop {
  display: inline-block;
  vertical-align: top;
  float: none;
}
.navbar-custom, .top-nav-collapse {
  /*background: #EDE9B8;*/
  /*background: #C63833;*/
  /*background: #2e86de;*/
  /*background: #341f97;*/
  background: #312697;
  /*background: #2e86de;*/
  padding: 0px;
}
.navbar-custom.top-nav-collapse {
  border-bottom: 1px solid rgba(32,31,75,0.5);
}
.btn-default {
  color: #feca57;
  border: 1px solid #c8d6e5;
  background-color: transparent;
}
.btn-default:hover {
  /*color: #341f97;*/
  background-color: rgba(255,255,255,.3);
  border: 1px solid #c8d6e5;
}

#sponsors {
  text-align: center;
}

.main-stage-col {
  border-right: solid 1px #c8d6e5;
}


#shows h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  /*color: #341f97;*/
}
#shows h4 {
  margin-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px solid #c8d6e5;
}

#shows .main-stage-col h4 {
  /*margin-bottom: 30px;*/
}
#shows p {
  margin-bottom: 10px;
}
#shows strong {
  /*border-bottom: 1px solid rgba(32, 31, 75, 0.2);*/
}
#shows em {
  font-weight: 500;
}
#shows .highlight p {
  font-size: 100%;
}
#shows .highlight {
  background-color: #c8d6e5;
  padding: 10px;
  /*font-size: 150%;*/
}
#shows .highlight:first-child {
  margin-bottom: 0;
}
#shows .highlight a {
  color: #FFF;
}
#shows .headliner {
  background: #ee5253;
  color: #FFF;
  padding: 15px;
  font-size: 175%;
}
#shows .headliner a {
  color: #FFF;
}
#shows .headliner, #shows .highlight {
  text-align: center;
}

#shows .highlight {
  background: #5f27cd;
}

.slot a {
  display: block;
}

#ticket-links p {
  padding: 5px 10px;
  margin-bottom: 10px;
}
#ticket-links .highlight {
  background-color: rgba(255,255,255,.2);
  font-size: 175%;
}
#ticket-links a {
  display: block;
}
#tix h4 {
  margin-bottom: 0px;
}

#bracket {
  overflow: overlay;
}
div.jQBracket .team div.label
{
  color: rgb(32, 31, 75);
  font-size: 15px;
}

@media (min-width: 767px) {
  .jQBracket.lr {
    width: 100% !important;
  }
  div.jQBracket .team,div.jQBracket .round, div.jQBracket .team div.label {
    width: 200px;
  }
}

.battle-schedule h4 {
  margin-bottom: 0;
}
.battle-date {
  white-space: nowrap;
}
ul.banner-social-buttons li {
  display: inline-block;
}

ul.list {
  font-size: 20px;
}
.bio-headshot {
  max-width: 400px;
  padding: 0 15px 15px 15px;
}

.headshot-index {
  object-fit: cover;
  height: 250px;
  width: 250px;
}

#footer {
  background-color: #ff6b6b;
  border-top: 1px solid #c8d6e5;
  color: #FFF;
}

.main-container {
	min-height: 600px;
}

#footer h3 {
  margin-bottom: 15px;
}

#footer a {
  color: #FFF;
}
#footer .btn-default {
  border-color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
}

.show-img {
  margin-bottom: 25px;
}

.breadcrumbs {
  font-size: 12pt;
  margin-bottom: 0;
  margin-top: -15px;
}

.tix-small {
  font-size: small;
  /*display:block;*/
}

.btn-tix {
  display: block;
  background-color: rgba(216,35,42,0.3);
}

.btn-tix.btn.focus, .btn-tix.btn:focus, .btn-tix.btn:hover {
  color: rgb(32, 31, 75);
}
.slot {
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c8d6e5;
}
#shows p.slot-time {
  background-color: rgba(255,255,255,0.5);
  margin-bottom: 0;
}

#show .showtime {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 0px;
  margin-bottom: 5px;
}

h1, h3, h4, h5 {
  font-family: 'Courgette', cursive;
  text-transform: none;
  color: #ff9f43;
}

h2#battle-date-header {
  font-family: 'Courgette', cursive;
  text-transform: none;
  color: #ff9f43;
}

hr#battle-line {
  background-color: #f368e0;
  height: 1px;
  border: 0;
}

h2#workshop {
  font-family: 'Courgette', cursive;
}

h3 {
  font-family: 'Noto Sans SC', sans-serif;
  text-transform: none;
  color: #ff9f43;
}
