<!-- battle Section -->
<section id="battle" class="content-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Atlanta Improv Festival Battle</h2>
          <p>The #ATLIF2017 Battle begins April 27th at <a href="http://villagecomedy.com">The Village Theatre</a> and <a href="http://highwirecomedy.com">Highwire Comedy Company</a> and concludes Saturday May 13th! See 27 improv teams from the city duke it out in head-to-head-to-head improv battles!</p>
        </div>
    </div>
</section>
