<!-- battle Section -->
<section id="battle" class="content-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Atlanta Improv Festival Battle</h2>
          <br />
          <p>
            The Atlanta Improv Battle is am improv team competition where the audience decides the winners each night.
            The Tournament lasts several weeks culminating in the Atlanta Improv Festival on April 27th.
          </p>
          <br />
          <p>
            The Atlanta Improv Festival is currently looking for 27-36 teams to participate in this year's battle.
            First prize receivs a $1000 prize. Teams must have a minimum of 2 performers and a maximum of 8
            performers. For more information, check the out the 2019 rules and guidelines below.
          </p>
          <br />
          <p>
            Registration will be open soon
          </p>
          <br />
        </div>
    </div>
</section>
