<!-- battle Section -->
<section id="battle" class="content-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Atlanta Improv Festival Battle</h2>
          <p>The #ATLIF2017 Battle begins April 27th at <a href="http://villagecomedy.com">The Village Theatre</a> and <a href="http://highwirecomedy.com">Highwire Comedy Company</a> and concludes Saturday May 13th! See 27 improv teams from the city duke it out in head-to-head-to-head improv battles!</p>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 battle-schedule">
        <h3>Thursday, April 27</h3>
        <h4>Match 1</h4>
        <p>
          <strong>Shakespeare Unscripted</strong> vs. <strong>You Did This: Interactive Improv</strong> vs. <strong>Big Poppa</strong><br/>
          8:00pm - The Village Theatre
        </p>
        <h4>Match 2</h4>
        <p><strong>Group Therapy</strong> vs. <strong>Ben and Duane’s Marketing Company</strong> vs. <strong>The Red Pill Players</strong></p>
        <p>8:00pm - Highwire Comedy Company</p>
        <h4>Match 3</h4>
        <p><strong>Group Therapy</strong> vs. <strong>Ben and Duane’s Marketing Company</strong> vs. <strong>The Red Pill Players</strong></p>
        <p>9:15pm - The Village Theatre</p>
      </div>
    </div>
  </div>
</section>
