<!-- battle Section -->
<section id="battle" class="content-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Atlanta Improv Festival Battle</h2>
          <br />
          <p>
            The 2020 Atlanta Improv Festival Battle is open for registration!! Only 36 spots available!

            Click <a href="https://forms.gle/mJYcQ1zLJ9HiJGSY8">Here</a> to apply!
          </p>
          <br />
          <br />
          <p>
            Please read the official rules before applying.
          </p>
          <br />
          <%= link_to 'Battle FAQs', '/battle/faqs' %>
          <br />
        </div>
    </div>
</section>
