<!-- battle Section -->
<section id="battle" class="content-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Atlanta Improv Festival Battle</h2>
          <br />
          <p>
            The Atlanta Improv Battle is an annual improv competition pitting 27 to 36 teams against each other over a multi-week tournament.
            It all culminates in the finals at the Atlanta Improv Festival. How far can your team make it?
          </p>
          <br />
          <p>
            The winner will receive $1,000 and a run of shows at The Village Theatre!
            The runners up will receive prize money and a chance to get a run of shows as well.
          </p>
          <br />
          <p>
            To apply please fill out the information form and pay the $50 entry fee via the PayPal link on the Thank You page of the form.
            Registration is approved on a first come, first served basis.
          </p>
          <br />
          <p>
            Please read the official rules before applying.
          </p>
          <br />
          <%= link_to 'Battle FAQs', '/battle/faqs' %>
          <br />
        </div>
    </div>
</section>
