<!-- battle Section -->
<section id="battle" class="content-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Atlanta Improv Festival Battle</h2>
          <br />
          <p>
            Submissions for the 2020 battle are now closed. Stay tuned for further information about the schedule.
          </p>
          <br />
          <br />
          <p>
            Please read the official rules before applying.
          </p>
          <br />
          <%= link_to 'Battle FAQs', '/battle/faqs' %>
          <br />
        </div>
    </div>
</section>
