<h2>FAQ</h2>
<p class="question">
  How many matches will I get to perform in?
</p>
<p>
  It is possible your team could be eliminated after only 1 performance. The winner of each individual matchup of 3 teams moves on to the next round automatically. The highest scoring second place team from each night also moves on.
  Remember, the audience vote decides.
</p>
<p class="question">
  Can any improv team apply?
</p>
<p>
  If you are Atlanta based, then Yes! The battle is for all teams no matter your experience level or if you already have a show, or if you've never done a show.
</p>
<p class = "question">
  Do musicians or technical improvisers count toward my roster of 8?
</p>
<p>
  A single musician or a technical improviser will not count toward your 8, but you can only have 1 of those and it not count. Anything more will reduce your roster size.
</p>
