<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 battle-schedule">
      <% data.battle.matches.each do |date, matches| %>
        <%= partial "date-heading", locals: { date: date } %>
        <%= partial "match", locals: { matches: matches['matches'], date: date } %>
      <% end %>
    </div>
  </div>
</div>
