<!-- battle Section -->
<section id="battle" class="content-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Atlanta Improv Festival Battle</h2>
          <h3>March 15 - April 7, 2018</h3>
					<p>IT IS TIME AGAIN!!!</p>
					<p>If you think you are part of the best improv group or improv team in Atlanta, if you think you can take on the 2017 AIF BATTLE CHAMPIONS Shakespeare Unscripted, then it is time to show The ATL what you got!</p>
					<p>The 2018 Atlanta Improv Festival BATTLE is now open for submissions. </p>
					<p>The Competition will be made up of no more than 27 teams competing for a Grand Prize of $1,000 (2nd=$300, 3rd=$100) AND the title of “ATLANTA's BEST IMPROV TEAM OF 2018!!!”  </p>
					<p>To register, each team will be required to pay a $50 Tournament Entry Fee. </p>
					<p>The BATTLE (tournament) will take place over a three-week period starting on Thursday March  15, and ending Saturday, April 7th during the 2018 Atlanta Improv Festival.   This year’s battle will take place over three-weekends spread out over four-weeks.  The Battle will start on Thursday March, 15 and the first round will end on Sunday March, 18.  We will be taking the the following weekend (3/22-3/23) off from Battle shows.  Then we will pick the battle back up on Thursday March, 29 and the last show that weekend will take place on Saturday March, 31.  The final weekend will take place at the same time as the festival on April 5-7. </p>
					<p>During the course of the BATTLE, a team could compete in as many 5 shows.  </p>
					<p>Each BATTLE Show will be one-hour in length and consist of three teams each performing a 20-minute set.  At the end of each hour-long BATTLE Show, the audience will vote for their favorite team.  Teams will advance based on a point/ranking system.</p>
					<p>During the 1st and 2nd weekends, BATTLE shows will take place at The Village Theatre and Highwire Comedy Company.  All the shows during the 3rd and final weekend of the BATTLE will take place at The Village Theatre.  </p>
					<p>The BATTLE (tournament) will begin with 27 teams.  15 teams will be eliminated during the first two weekends. The remaining 12 teams will perform on Thursday night April 5th.  By the end of that Thursday night, six of those 12 teams will have been eliminated.  The remaining six teams will compete against each other on Friday night April 6th.  Friday’s competition will result in three additional eliminations.  The final remaining three teams will compete on the Village Theatre Mainstage Saturday night April 7th at 11pm for the $1000 Grand Prize and the honor of being crowned “ATLANTA's BEST IMPROV TEAM OF 2018!!!”</p>
					<p>We are looking for teams NOW! So, if you are interested, hit us up!!</p>
					<p>To apply:  Please send us an email with AIF BATTLE in the subject line.  In the email please provide (1) your team name; (2) contact person’s name, email address and phone number; (3) a link to some of your performances (if you can); and (4) a description of your show.  Please email all the information to <a href="mailto:EVENTS@VILLAGECOMEDY.COM">EVENTS@VILLAGECOMEDY.COM</a>.</p>
					<p>Come on out and see if your team is as good as you think!</p>
        </div>
    </div>
</section>
