---
title: Battle
---

<%= partial "description" %>
<%= partial "matches" %>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <p><%=link_to "Official Rules", "/battle/rules.pdf" %> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></p>
  </div>
</div>
