---
title: Battle
---

<%= partial "description" %>
<br />
<%= partial "matches" %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p><%=link_to "Official Rules", "/battle/rules.pdf" %> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></p>
      <br />
      <br />
      <h3>We have received all 36 submissions for the Atlanta Improv Festival Battle. Stay tuned for more information about matchups and show dates!</h3>
      <br />
      <br />
      <%= partial "faqs" %>
      <br />
      <br />
      <br />
    </div>
  </div>
</div>
