<footer>
<div class="container text-center">
    <ul class="list-inline banner-social-buttons">
      <li>
      <a href="https://www.facebook.com/ATLImprovFest" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
      </li>
      <li>
      <a href="https://twitter.com/ATLImprovFest" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
      </li>
      <li>
      <a href="https://instagram.com/atlimprovfest/" rel="publisher" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
      </li>
      <li>
      <a href="https://plus.google.com/112038124179527401791" rel="publisher" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
      </li>
      <li>
      <a href="mailto:questions@atlantaimprovfestival.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
      </li>
    </ul>
  </div>
</footer>
