<!-- cagematch Section -->
<section id="cagematch" class="content-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Atlanta Improv Cagematch Competition</h2>
          <p>The #ATLIF2016 Cagematch kicks off Thursday night! Watch <a href="https://www.facebook.com/TheTipsyZone/">The Tipsy Zone</a>, <a href="http://redpillplayers.com/">Red Pill Players</a>, <a href="https://www.facebook.com/thecardiganparty/">The Cardigan Party</a>, <a href="https://www.facebook.com/hiphopharold/">Hip Hop Harold</a>, <a href="https://www.facebook.com/prettymuchsisters/">Pretty Much Sisters</a>, <a href="https://www.facebook.com/Howard5000/">Howard 5000</a>, <em>Big Poppa</em>, and <em>The 1992 Summer Olympics</em> duke it out in head-to-head improv battles!</p>
          <p><i class="fa fa-ticket fa"></i> <a href="https://www.freshtix.com/events/atlanta-improv-cage-match-competition">Tickets are available now!</a></p>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Bracket</h3>
        <div id="match-info"><h4>(Click match for more info)</div>
        <div id="bracket">
        </div>
      </div>
    </div>
  </div>
</section>

<script>
var bracket = {
  teams : [
    ["Howard 5000", "Red Pill Players"],
    ["1992 Summer Olympics", "Tipsy Zone"],
    ["Hip Hop Harold", "Cardigan Party"],
    ["Pretty Much Sisters", "Big Poppa"]
  ],
  results : [
    [ // Round 1 results
      [0,1, "Thursday - 7:30pm - Howard 5000 vs. Red Pill Players"],
      [0,1, "Thursday - 8:30pm - The 1992 Summer Olympics vs. The Tipsy Zone"],
      [1,0, "Thursday - 9:30pm - Hip Hop Harold vs. The Cardigan Party"],
      [1,0, "Thursday - 10:30pm - Pretty Much Sisters vs. Big Poppa"]
    ],
    [ // Round 2 results
      [0,0, "Friday - 9:30pm - Red Pill Players vs. The Tipsy Zone"],
      [0,0, "Friday - 7:30pm - Hip Hop Harold vs. Pretty Much Sisters"]
    ],
    [ // Final round results
      [0,0, "Saturday - 8:00pm - TBA"]
    ]
  ]
}
</script>
