<!-- cagematch Section -->
<section id="cagematch" class="content-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Atlanta Improv Cage Match Competition</h2>
          <p>#AIF2016 Cage Match Submissions OPEN!</p>
          <p>If you think you are part of the best Improv Team around, it is time to show the ATL what you got!</p>
          <p>The Atlanta Improv Fest Cage Match Competition is now open for submissions. The competition will be made up of 8 teams that will compete for a grand prize of $500 and to be crowned The FIRST EVER ATLANTA's BEST IMPROV TEAM!!</p>
          <p>Each team will be required to pay a $50 entry fee after your entry is accepted. The eight teams will be in a tournament style, one-on-one competition where audience members vote for their favorite team after each show. All eight teams will perform Thursday night. The remaining four teams will compete against each other on Friday night. The final two teams will compete on Saturday night at 9pm for the grand prize.</p>
          <p>We are looking for teams so if you are interested hit us up!!</p>
          <p>To submit please provide, your team name, contact person’s name, email address and phone number, a link to some of your performances (if available) and a description of your show.</p>
          <p>Please email all the information to <a href="mailto:events@villagecomedy.com">events@villagecomedy.com</a></p>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Bracket</h3>
        <div id="match-info"><h4>(Click match for more info)</div>
        <div id="bracket">
        </div>
      </div>
    </div>
  </div>
</section>

<script>
var bracket = {
  teams : [
    ["Team 1", "Team 2"],
    ["Team 3", "Team 4"],
    ["Team 5", "Team 6"],
    ["Team 7", "Team 8"]
  ],
  results : [
    [ // Round 1 results
      [0,0, "Thursday - 7:30pm - Team 1 vs. Team 2"],
      [0,0, "Thursday - 8:30pm - Team 3 vs. Team 4 "],
      [0,0, "Thursday - 9:30pm - Team 5 vs. Team 6"],
      [0,0, "Thursday - 10:30pm - Team 7 vs. Team 8"]
    ],
    [ // Round 2 results
      [0,0, "Friday - 7:30pm - TBA"],
      [0,0, "Friday - 8:30pm - TBA"]
    ],
    [ // Final round results
      [0,0, "Saturday - 8:00pm - TBA"]
    ]
  ]
}
</script>
