<!-- workshops Section -->
<section id="workshops" class="content-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Workshops</h2>
      <p>The Atlanta Improv Festival offers many workshops from some of the top improvisors from around the country. We're still working on finalizing the available workshops.
         Check back here over the next few weeks for more information and signup links. Stay tuned!</p>
    </div>
  </div>
</section>
