<!-- workshops Section -->
<section id="workshops" class="content-section">
  <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Workshops</h2>
        <p>The Atlanta Improv Festival weekend isn’t just for watching improv til your eyes melt, but for all improvisers to tone those improv muscles by participating in workshops. We lined up a bunch of useful and fun workshops for the weekend taught by amazing improvisers from all over the country!</p>
        <p><strong>Workshop schedule coming soon!</strong></p>
    </div>
  </div>
</section>
