---
layout: "workshop"
title: "Harold 101"
teacher: "Dave Hill"
time: "Saturday 3:30pm"
description: "<p>The granddaddy of them all: The Harold.  From its beginnings in Chicago to it’s rapid expansion across the country (and the world!) it has always been about a few key ideas and philosophies.  This workshop will connect you to that tradition and help you take the first steps toward making the form of all long-forms your own!
</p>"
paypal: "TPB8TM5Q7W9WU"
bio: "dave-hill"
---
