---
layout: "workshop"
title: "Dynamic Scene Starts"
teacher: "Dave Hill"
time: "Saturday 1:00pm"
description: "<p>So much of what makes a good scene comes from its beginning.  The first choices and most purely improvised moments that get us started.  In this workshop we will explore a series of dynamic methods of starting a scene in order to give you both more guidance and more freedom at the tops of your scenes.</p>"
bio: "dave-hill"
paypal: "DQNVG78R9DBTE"
---
