---
layout: "workshop"
title: "small big, BIG SMALL"
teacher: "Dave Hill"
time: "Saturday 3:30pm"
description: "<p>One thing that seems to consistently trip up improv scenes is figuring out, in the moment, just how to “right

size” them.  When do we heighten the premise or situation into the biggest stakes possible?  When do we

just let the characters or relationship speak for themselves in a small moment?  In this workshop, we will

look at premise, stakes, heightening and other elements of scenework and techniques that will help you

“right size” your choices.</p>"
paypal: "QJC4JAYW7S25Q"
bio: "dave-hill"
---
