---
layout: "workshop"
title: "Drivers Seat"
teacher: "Dave Hill & Matt Jones"
time: "Sunday 12:00PM - 2:00PM"
description: "<p>Too often, the improv “rules” get in the way of enjoying ourselves on stage.  “Don’t” becomes “can’t” and it kills the fun!  In this workshop, Dave Hill and Matt Jones (“Hill Jones”) will tag-team teach the principles that guide them in their work together to get you past the rules and back into the driver’s seat of improv!</p>"

bio: "<p>Dave Hill is an actor, improviser and writer from Chicago where he trained at the iO and Second City.  In LA he performs with Hill Jones, King Ten and the Armando Show. His work can be seen in the Hulu series “Quickdraw”, the classic “Reno 911” and the forthcoming film “The Night Is Young” that he wrote/directed and starred in with his pal, Matt Jones.  He’s so happy to be back in Atlanta!
</p>"
image: ""
---
