---
layout: "workshop"
title: "The Flashform Improv Method"
teacher: "Nicholas Riggs"
time: "Saturday 1pm"
description: "<p>Flashform is a fast and furious method for playing narrative as game through strong characters. I’ll teach you how to play organically, find character in the heat of the moment and game through the weight of the situation. You’ll learn how to fine tune your heightening and exploration skills, how play with a protagonist, how to drive story through edits, and how to ignite scenes without losing the game, character integrity, or depth of relationships. By the end you’ll have a show-ready method to take back to your group that will let you perform linear, parallel, or overlapping narratives in long form shows.</p>"

bio: "<p>Nicholas is a nationally recognized and award-winning improv performer and instructor versed in every tradition of improvisation. He's also Founder, Director of Operations and Lead Instructor at Post Dinner Conversation Inc, Executive Producer of the Tampa Improv Festival, Gasparilla Improv Marathon, and Florida Improv Retreat. He’s the originator of the Flashform Improv method and instructor of various corporate workshops in the Bay area and Flashform Intensives across the Southwest. Nicholas has performed on countless stages around the country with PDC Inc and his narrative long form duo, Equanimity. He’s proud to have worked with legendary instructors in the Chicago, Boston, Austin, Orlando, and New York improv scenes. He's also moments away from receiving his PhD in Improvisational Communication at the University of South Florida in Tampa.
</p>"
image: "/images/shows/Flashform.png"
---
