---
layout: "workshop"
title: "Free-form Improvisation"
teacher: "Will Leura"
time: "Saturday 4pm"
description: "<p>This workshop explores the makings of the unique style of Big Bang free-form improvisation. This mindset is built on the concept of \"follow the funny\" and proposes that every single moment, beat, line and movement 
in a show can be deconstructed and used to lead you to the next scene. During this exploration and deconstruction, a language and pattern are established that help define form where previously there was no form. We'll review the tools that will enable performers to create a unique free-form performing experience every time you hit the stage. We will review ideas of listening to what the show wants, what can be funny, when are the best times to edit and how to use transformational edits to drive the show in different directions.</p>"

bio: "<p>Directed by Will Luera, FST Improv performs free-form style improvisation. The show is built on the concept of /"follow the funny/" and proposes that every single moment, beat, line and movement in a show can be deconstructed and used to lead you to the next scene. This is a high-energy improv experience that redefines itself with every performance.
</p>"
image: "FST-Logo.jpg"
---
