---
layout: "workshop"
title: "Free-form Improvisation"
teacher: "Will Leura"
time: "Saturday 4pm"
description: "<p>This workshop explores the makings of the unique style of Big Bang free-form improvisation. This mindset is built on the concept of \"follow the funny\" and proposes that every single moment, beat, line and movement 
in a show can be deconstructed and used to lead you to the next scene. During this exploration and deconstruction, a language and pattern are established that help define form where previously there was no form. We'll review the tools that will enable performers to create a unique free-form performing experience every time you hit the stage. We will review ideas of listening to what the show wants, what can be funny, when are the best times to edit and how to use transformational edits to drive the show in different directions.</p>"

bio: "<p>Will Luera joined Florida Studio Theater in 2014. Before that he was with ImprovBoston since 1997 as a member of the Mainstage cast, TheatreSports cast and also helped to start the Boston franchise of Sitcom. In 1999, he left ImprovBoston to start his own improvisational theater company called Blue Screen, where he continued to direct Sitcom but also developed and directed ground-breaking shows like Secret Society and Dropkick Bandito. In 2000, he rejoined ImprovBoston as Artistic Director, directing the Mainstage cast and developing the nationally renowned productions of Sitcom, Secret Society, Blue Screen, and Quest. He has appeared in numerous improv festivals around the world and has studied improvisation with ImprovOlympic, The Second City, The Annoyance Theater, The Upright Citizens Brigade, and Keith Johnstone. In addition to his work at ImprovBoston, Will has taught improvisation classes for the Young Presidents Organization (YPO), the National Fire Prevention Association, Northeastern University, Boston College and has directed shows for the ImprovAsylum, The Tribe Theater, Another Country Productions, Longwood Players, The Footlight Club and The Alarm Clock Theater. In 2012, Will received the life-time title of Artistic Director Emeritus of ImprovBoston. Will is a globally renowned improv and theater actor, director and instructor that performs and teaches regularly all across North America, South America, Europe and Asia.
</p>"
image: "FST-Logo.png"
---
