---
layout: "workshop"
title: "Getting Into Characters"
teacher: "Dave Hill"
time: "Saturday 1:30PM - 3:30PM"
description: "<p>-Do you wish your improv characters were more consistent and vivid? Do you feel like you just slip into the same stale types of characters in every scene? Or maybe you don't really play characters at all and you don't know where to start? Start here!</p>"

bio: "<p>ADave Hill is an actor, improviser and writer from Chicago where he trained at the iO and Second City.  In LA he performs with Hill Jones, King Ten and the Armando Show. His work can be seen in the Hulu series “Quickdraw”, the classic /“Reno 911/” and the forthcoming film /“The Night Is Young/” that he wrote/directed and starred in with his pal, Matt Jones.  He’s so happy to be back in Atlanta!
</p>"
image: "dave_hill.jpg"
---
