---
layout: "workshop"
title: "Information Sharing and Scene Construction"
teacher: "Ryan Archibald"
time: "Saturday 11AM-1PM"
description: "<p>This workshop will put a focus on sharing verbal and non-verbal information with your partner.  When you fully look, listen and take in your partner you will be able capitalize on their ideas and construct quality scenes anytime, anywhere. These techniques will benefit short form and long form improvisation.</p>"

bio: "<p>Ryan is a veteran performer and teacher for the Second City, a former touring actor and resident member of the Second City in Las Vegas.  Ryan currently directs for The Second City's Touring Company and plays from time to time with the Second City's Improv All-Stars.  Ryan has taught and performed at Chicago's iO Theater for almost twenty years, now playing with 3033 and Search Engine with Craig Uhlir.  Over the years, Ryan has directed many independent sketch comedy and improv shows including: Atlantis, Four Square, D.W. Bitsmith, Brand New Toys, That Just Happened, and Pinque Pony's 1979. Ryan also worked in Amsterdam with Boom Chicago.
</p>"
image: ""
---
