---
layout: "workshop"
title: "Improvising from a Place of Power"
teacher: "Irene Marquette"
time: "Saturday 10:30am"
description: "<p>Focus on empowering and going hard with softer styles of play and using your perspective/experiences in any scenic situation. </p>"
bio: "irene-marquette"
---
