---
layout: "workshop"
title: "Start Simple, Play Strong, Have Fun with Jason Pardo!"
teacher: "Jason Pardo"
time: "Saturday 1:00pm" 
description: "<p>Jason draws on his twenty-plus years of diverse improv experience to guide improvisers through the power of natural character evolution. He coaches participants in making simple choices early, building behaviors, supporting through character, and having fun in discovery. The workshop focuses on simple, consistent choices and how they ultimately lead to strong characters, rich relationships and quality scenes. Simple, strong, fun, Pardo.</p>"
bio: "jason-pardo"
---
