---
layout: "workshop"
title: "Get Engaged"
teacher: "Jean Villepique"
time: "Saturday 10:30am"
description: "<p>Using old school Chicago improv techniques and acting exercises, here is a chance to hone some fierce improv skills.  Learn how to start scenes with brave physical choices, opening up your mind and getting out of your comfort zone.  Jean is an expert at creating a safe environment, which is essential for risk-taking.  Come by and play—you will walk away with several choices to make when you are feeling stuck or in your head or like you’re just not having fun.  Have fun.  Practice having fun.  You deserve it!
</p>"
bio: "jean-villepique"
paypal: "HAKUDCCF6RCS6"
sold_out: "true"
---
