---
layout: "workshop"
title: "Gut &amp; Instinct - Move First, Think Second"
teacher: "Jo Scott"
time: "Saturday 10:30am"
description: "<p>Trouble with initiating, stuck on the back, too much exposition? Gut &amp; Instinct works on moving first and thinking second. Specifically working on pulling ideas from how you feel, not what you think. </p>"
bio: "jo-scott"
---
