---
layout: "workshop"
title: "Find Your Character"
teacher: "John Thibodeaux"
time: "Saturday 1:00pm"
description: "<p>Sometimes performers have a tough time finding a character and inspiration to keep a scene going once in character. This workshop is designed to overcome that and provide tools to find more going forward. 
</p>"
paypal: "38VJW2F42L4BG"
---
