---
layout: "workshop"
title: "From Improv to Sketch"
teacher: "Katie Klein"
time: "Saturday 10:30am"
location: "Striking"
description: "<p>From improv to sketch show - sketch writing with Second City's etc cast member Katie Klein. Bring a pencil.</p>"
paypal: "GWC4F2TB2A9PY"
bio: "katie-klein"
---
