---
layout: "workshop"
title: "Listening"
teacher: "Andy St. Clair"
time: "Saturday 10:30am-12:30pm"
description: "<p>We all want to be better at scenes.  Right?  So let's take the first thing that happens and make our 
scene’s better by making them simple.  How do we do that?  By listening.  Then how do we continue 
being successful in scenes?  By LISTENING!  Take this workshop and we will all do better.  At what?
LISTENING!</p>"
bio: "<p>Andy is an actor/writer living in LA.  He has written on the tv shows \"Brickleberry\"
\"Sirens\".  He co-created the new MTV show \"Ken Jeong Made Me Do It\".  He's also has been on 
\"Cougartown\" and \"Arrested Development\" and in various commercials.  Before moving to LA he 
worked and lived in Chicago at all the improv theatres.  You know the ones.  He misses Chicago.</p>"
---
