---
layout: "workshop"
title: "Actions Speak Louder Than Words: Physical Presence and Playfulness"
teacher: "Mary Cait Walthall"
time: "Saturday 10:30am"
description: "<p>Mary Cait Walthall (iO, Annoyance, London International School of Performing Arts) helps you get out of your head and find out what your body has been saying while your mouth thinks it's doing all the talking. Find insight on what your own personal stage presence is, and practice responding physically to what is happening in a scene. For all levels of improv and physical ability. Wear comfortable, movable clothes!</p>"
bio: "mary-cait-walthall"
paypal: "URJCYGCUW2RBA"
---
