---
layout: "workshop"
title: "Once More with Feeling"
teacher: "Matt Jones"
time: "Saturday 3:15pm"
description: "<p>How do you approach improv like an actor? With thoughts and feelings that can be portrayed in a single

look. Learn to read the emotions of your scene partner and create a scene together regardless of rules or

boundaries. We improvise to tell stories and those stories are meant to be felt by the performers and the

audience together. Let&#39;s try that scene again, once more with feeling.</p>"
bio: "matt-jones"
---
