---
layout: "workshop"
title: "The World Is Not Flat"
teacher: "Nicholas Riggs"
time: "Saturday 3:15pm"
description: "<p>Even the best improvisers do scenes that fall flat. This workshop will help you breathe life back into those scenes. We'll play with edits and moves that'll teach you how to scene paint, narrate, cut-to, tag-out, and camera angle your way back into scenes that are fun to play and even better to watch. Making visual choices that push the boring into the background, you'll learn how to bring the fun back into focus by entering a whole new dimension of improv.</p>"
bio: "nicholas-riggs"
---
