---
layout: "workshop"
title: "Playing Fast and Fun"
teacher: "Patrick Rowland"
time: "Saturday 10:30am"
description: "<p>A class that teaches folks how to play for quicker pacing, just like the team 3Peat in Chicago. How tight can you be as an ensemble? If you trust each other enough and have the energy to play hard, you can guarantee you are able to both come together and sustain a fast, high energy show.
</p>"
paypal: "PWJKHFPSG7CDN"
---
