---
layout: "workshop"
title: "The Roots"
teacher: "Alex Fendrich"
time: "Saturday 1PM-3PM"
description: "<p>This workshop focuses on going deeper into some of those elements that initially attract us to the art of improv: simple ideas to step through so performance becomes a reflex.  We will work on several aspects of scenes including the use of the emotional content of the moment.  You will get lots of scene work and long form ideas!</p>"

bio: "<p>Alex Fendrich began improvising on stage in Chicago at iO with the Harold team
People of Earth. He's had the pleasure of performing with ensembles Atlantis, Baby Wants Candy, Armando and 3033. He wrote/performed three revues on the Second City ETC stage and was a member of the Second City touring company.  Alex has taught the summer intensive for long-form improvisation at the Second City & iO Chicago. He directs TV commercials and films. You can see his work at capguncollective.com.
</p>"
image: "alex_fendrich.jpg"
---
