---
layout: "workshop"
title: "Improv to Sketch: Chicago Style"
teacher: "Ryan Archibald"
time: "Saturday 3:15pm"
location: "striking"
description: "<p>This workshop will focus on some of the techniques, ideas and

exercises developed by the Compass Players and used by The

Second City for over 50 years to construct quality content through

improvisation. This on your feet workshop lead by former Second

City Touring Company Director Ryan Archibald will teach you how to

write, rewrite and edit on your feet in the old school Chicago

tradition.</p>"
bio: "ryan-archibald"
---
