---
layout: "workshop"
title: "Harold Openings with Arch"
teacher: "Ryan Archibald"
time: "Saturday 1:00pm"
description: "<p>I know you hate them. You think they are artsy, lame and

uninteresting.  Let me change your mind, please.  I&#39;ve been teaching

Harold for over 15 years, I love  iO&#39;s infamous structure and I can help

you connect with why Openings are important and how to better

deconstruct your Source and improve the relationship between your

audience &amp; ensemble</p>"
bio: "ryan-archibald"
paypal: "NA252SCFSMPFS"
---
