---
layout: "workshop"
title: "\"Double Bonus Points\" Sketch Writing"
teacher: "Ryan Archibald"
time: "Saturday 3:15pm"
location: "striking"
description: "<p>\"Double Bonus Points\" Sketch Writing i.e. Blackouts & Jokes -- This workshop will focus on several Old School-Vaudevillian techniques of sketch writing; the short one joke scene and multiple joke game structures.  These disciplines help protect honest POV and sharp satire, as well as, keep a show moving while unifying your audience.</p>"
bio: "ryan-archibald"
paypal: "DBTGFM9K2AF96"
---
