---
layout: "workshop"
title: "Information Sharing and Scene Construction"
teacher: "Ryan Archibald"
time: "Saturday 1:00pm"
description: "<p>Arch's workshop will put a focus on sharing verbal and non-verbal information with your partner, look/listen &capitalize on their ideas in order to construct quality scenes anytime, anywhere. These techniques benefit Shortform & Longform improvisation. </p>"
bio: "ryan-archibald"
paypal: "73VQYMQ5JVXZ8"
---
