---
layout: "workshop"
title: "You should put that in a Sketch"
teacher: "Sarah Ashley"
time: "Saturday 1:00pm"
location: "Striking"
description: "<p>How many times has your mother told you &quot;you should put that in a skit!?&quot; What are sketches if not REAL

LIFE moments whittled down to their very CORE and then MAGNIFIED?! In this workshop, Sarah Ashley

offers tools and exercises to turn real experiences into comedy sketches. Sarah completed a certificate in

Creative Nonfiction and Memoir Writing from the University of Chicago and has a BFA in Theater

Performance from the University of Michigan.</p>"
paypal: "6RY7XQHDA6CHA"
---
