---
layout: "workshop"
title: "Teach Them How to See You"
teacher: "Sue Gillan"
time: "Saturday 10:30am"
description: "<p>Auditions are nerve-wracking and actually getting the job can be, too. Part
presentation skills, part high-level communication skills and ALL PARTS FUN,
Y'ALL, Sue's workshop will focus on some of the most practical and tactical
ways to succeed at authentically representing yourself in front of every
audience that matters to you.  How to approach negotiations, how to prepare
for a job you've never done and how to advocate for yourself in an industry
that isn't way into that concept will be all be covered. And IT WILL BE FUN,
Y’ALL!</p>"
paypal: "UBN7LLHHRG9D6"
bio: "sue-gillan"
---
