---
layout: "workshop"
title: "Back on the Joy Ride"
teacher: "Susan Messing"
time: "Saturday 1:00pm"
description: "<p>You’ve lost that loving improv feeling, doing the same thing again and

again, hoping for a different result. This class will give you lots of great tips

that will have you immediately back on the joy ride again. Designed for

improvisers who have hit plateaus, forgotten why they&#39;re doing this, started

thinking of improv as work, stopped growing and/or having fun, or any

combination of the above.</p>"
paypal: "SQ4S8MY79S7V6"
bio: "susan-messing"
---
