---
layout: "workshop"
title: "The Pen is Mightier than the Sword (and the laptop too)"
teacher: "Tami Sagher"
time: "Saturday 3:30pm"
description: "<p>This workshop we’ll tackle the writer’s greatest challenge: the blank page. We’ll practice timed writings, deep listening and getting out of our own way when we sit down to write. There will also be time for questions about writing for television, but the majority of the time will be spent writing. Bring pens and paper. Seriously, <strong>no laptops!</strong></p>"
paypal: "WTB3SH7QQ42RJ"
bio: "tami-sagher"
sold_out: "true"
---
