---
layout: "layout"
---
<section id="teams" class="container content-section">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p class="breadcrumbs"><a href="/battle/"><i class="fa fa-chevron-left" aria-hidden="true"></i> Battle</a></p>
      <br />
      <br />
      <h1><%= team.name %></h1>
      <% if team.bio %>
        <p><%= team.bio %></p>
      <% end %>
      <% if team.cast %>
        <p>Featuring: <em><%= team.cast %></em></p>
      <% end %>
      <h3>Battles:</h3>
      <span class="battle-schedule">
        <% data.battle.matches.flat_map { |k, v| v['matches'] }.each do |match| %>
          <% if match['teams'] && match['teams'].include?(id) %>
            <%= partial "battle/match", locals: { matches: [match], date: match.date,  date_inline: true } %>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
</section>
