<section id="beerbus" class="content-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Atlanta Beer Bus Special $3</h2>
      <p>
        Our sponsor The Atlanta Beer Bus is running a special route for only $3 for anyone at The Atlanta Improv Festival on Sunday, April 28.  Pickup from Village Theatre will happen at 1pm to take people on the route. We will also return to VT at 8pm to drop off whoever is left.
      </p>
      <p>
        For more information visit <a href="http://atlantabeerbus.com">http://atlantabeerbus.com</a> or email <a href="info@atlantabeerbus.com">info@atlantabeerbus.com</a>
      </p>
      <br />
      <a href="https://www.peek.com/s/487ac14d-b628-45bc-84fd-fa99c62126ac/WBRa7" class="btn btn-default btn-lg" data-button-text="Book Now">ATL Improv Festival HOP-on/HOP-off</a>
    </div>
  </div>
</section>
