<!-- FAQs Section -->
<section id="faqs" class="content-section">
  <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
          <h2>FAQs</h2>
          <p><span class="question">Hey! What about the hashtag?</span><br/>
          Use <strong>#ATLIF2017</strong> all weekend long, because we like finding things on the Internet after they are posted.
          </p>
          <p><span class="question">Why are there no more FAQs?</span><br/>
            Because we're still writing them.
          </p>
          <p><span class="question">I have a question, which may be frequently asked. Where do I ask it?</span><br/>
            Send us an <a href="mailto:questions@atlantaimprovfestival.com">email</a>!
          </p>
      </div>
  </div>
</section>
