<!-- FAQs Section -->
<section id="faqs" class="content-section">
  <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
          <h2>FAQs</h2>
          <p><span class="question">Where can I get tickets?</span><br/>
            They'll be on sale soon. Check back here or follow our social media accounts for updates!
          </p>
          <p><span class="question">Why are there no more FAQs?</span><br/>
            Because we're still writing them.
          </p>
          <p><span class="question">I have a question, which may be frequently asked. Where do I ask it?</span><br/>
            Send us an <a href="mailto:questions@atlantaimprovfestival.com">email</a>!
          </p>
      </div>
  </div>
</section>
