<!-- FAQs Section -->
<section id="faqs" class="content-section">
  <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>FAQs</h2>
          <p><span class="question">Where do I get tickets?</span><br/>
          <%= link_to "Right here!", "/tickets/index.html" %>

          <p><span class="question">Where do I party before and after the shows?</span><br/>
          Before the shows, head over to our sponsor <a href="http://nonisdeli.com/">Noni's</a> for dinner. Mention the festival and get 10% off all weekend long!<br/>
            Thursday night, <strong>Noni's</strong> is also our official after party destination!<br/>
            Friday and Saturday night: We're heading up the street to sponsor <a href="http://badabingsatl.com/">Bada Bings</a> to keep the party rolling.
          </p>

          <p><span class="question">Hey you!! What about the hashtag?</span><br/>
          Woah! No need to shout. I'm right here. <br/>
          Use <strong>#ATLIF2017</strong> all weekend long, because we like finding things on the Internet after they are posted.
          </p>

          <p><span class="question">Sorry about yelling in the last question.</span><br/>
          No worries. It's ok. You were excited.
          </p>

          <p><span class="question">Do y'all have social media accounts for relevant updates?</span><br/>
          Yes we do, partner. We're on <a href="https://www.facebook.com/atlimprovfest">Facebook</a>,
          <a href="https://twitter.com/ATLImprovFest">Twitter</a>, and
          <a href="https://www.instagram.com/atlimprovfest/">Instagram</a>!
          </p>


          <p><span class="question">Why are there no more FAQs?</span><br/>
            I've been pretty deep in improv festival stuff lately, so I don't really know what I'd ask if I didn't know the answers to all the questions.
            </p>

          <p><span class="question">So there could be more questions coming?</span><br/>
            Maybe? I dunno.
          </p>

          <p><span class="question">So if I have a question, which may be frequently asked. Where do I ask it?</span><br/>
            Send us an <a href="mailto:questions@atlantaimprovfestival.com">email</a>!
          </p>
      </div>
  </div>
</section>
