<!-- FAQs Section -->
<section id="faqs" class="content-section">
  <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
          <h2>FAQs</h2>
          <p><span class="question">How do I see shows?</span><br/>
          First, get tickets <a href="/tickets">here!</a>
          Then, go to <a href="/location">The Village Theatre!</a>
          </p>
          <p><span class="question">Where can I get tickets?</span><br/>
          You can get tickets <a href="/tickets">right here, right now!</a>
          </p>
          <p><span class="question">What are the different ticket types?</span><br/>
          See one show, see them all! We have a plethora of ticketing options!<br/>
          <em>Single show: $10-$15</em><br/>
          <em>Evening pass: $30</em> - Access to all shows for one night<br/>
          <em>Weekend pass: $65</em> - Access to all shows PLUS a fancy lanyard!<br/>
          <em><strong>VIP</strong> Weekend pass: $95</em> - Weekend Pass PLUS draft beers only cost you $1 all weekend long! That's theoretically infinite savings!<br/>
          Get your tickets <a href="/tickets">right now!</a>
          </p>
          <p><span class="question">Hey! What about the hashtag?</span><br/>
          Use <strong>#ATLIF2016</strong> all weekend long, because we like finding things on the Internet after they are posted.
          </p>
          <p><span class="question">Why are there no more FAQs?</span><br/>
            Because we're still writing them.
          </p>
          <p><span class="question">I have a question, which may be frequently asked. Where do I ask it?</span><br/>
            Send us an <a href="mailto:questions@atlantaimprovfestival.com">email</a>!
          </p>
      </div>
  </div>
</section>
