<!-- About Section -->
<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>2016 <span class="blue">Atlanta</span> Improv Festival</h2>
            <p>The Atlanta Improv Festival returns to <a href="http://villagecomedy.com">The Village Theatre</a> June 16-18 in Atlanta’s historic Old Fourth Ward. The festival boasts the best improv acts in the city as well as top performers from across the country. This year the festival will welcome a minimum of 12 out-of-town teams and two headliners. Shows are scheduled for Thursday night through Saturday night in one of our two theatre spaces. During the day, the festival will offer improv workshops for everyone from beginners to advanced performers.</p>
            <p>In addition, we will be hosting the <strong>Atlanta Improv Fest Cage Match Competition</strong>.  The competition will be made up of 8 teams that will compete for a grand prize of <em>$500</em>.  Each team will be required to pay a $50 entry fee.  The eight teams will be in a tournament style, one-on-one competition where audience members vote for their favorite team after each show.  All eight teams will perform Thursday night. The remaining four teams will compete against each other on Friday night. The final two teams will compete on Saturday night at 9pm for the grand prize.</p>
        </div>
    </div>
</section>
