<br/>
<br/>
<section id="thank-you" class="content-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2>Thank you!</h2>
      <br/>
      <h1>See you at #ATLIF2019!</h1>
			<br />
			<p>We will reach out to you in the next 24 hours with more information. </p>
    </div>
  </div>
</section>
<br/>
