---
layout: "home"
---
<!-- Intro Header -->
<!--
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-offset-2">
          <h1><img src="img/logo.png" alt="Atlanta Improv Festival 2018" class="logo img-response"/></h1>
        </div>
      </div>
      <div class="row">
        <h2>April 5-7, 2018</h2>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>
            #<span class="red">ATL</span>IF2018
            <a href="https://www.facebook.com/ATLImprovFest"><i class="fa fa-facebook-official"></i></a>
            <a href="https://twitter.com/ATLImprovFest"><i class="fa fa-twitter-square"></i></a>
            <a href="https://www.instagram.com/atlimprovfest/"><i class="fa fa-instagram"></i></a>
            <a href="mailto:questions@atlantaimprovfestival.com"><i class="fa fa-envelope"></i></a>
          </h3>
        </div>
      </div>
    </div>
  </div>
  </header>
-->

<section id="temp-home" class="container content-section">
    <div class="row">
      <div class="col-xs-12 text-center" style="margin-bottom: 30px;">
        <a href="http://kp.org/georgia" target="_blank"><img src="images/sponsors/kp.png" alt="Kaiser Permanente" class="logo img-response"/></a>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>2018 <span class="blue">Atlanta</span> Improv Festival</h2>
        <h3>April 5-7, 2018</h3>
        <h3><a href="battle/index.html">Battle Registration >>></a></h3>
      </div>
    </div>
</section>
<%= partial "faqs/faqs" %>
<%= partial "workshops/schedule" %>
<%= partial "location/location" %>
<%= partial "sponsors/sponsors" %>
