    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row main-sponsor">
                  <div class="col-xs-12">
                    <a href="https://www.kaiserpermanente.org/" target="_blank"><img src="images/sponsors/kp.png" alt="Kaiser Permanente" class="logo img-response"/></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 hidden-xs hidden-sm vtop pull-left">
                    <a href="http://atlanta.the-dog-wizard.com/" target="_blank"><img src="images/sponsors/dogwiz-bw.png" alt="Atlanta Dog Wizard" class="logo-small img-response"/></a>
                  </div>
                  <div class="col-md-8">
                    <h1><img src="img/logo.png" alt="Atlanta Improv Festival" class="logo img-response"/></h1>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                  </div>
                  <div class="col-md-2 hidden-xs hidden-sm vtop pull-right">
                    <a href="http://strikingmarketing.com/" target="_blank"><img src="images/sponsors/striking.png" alt="StriKing" class="logo-small img-response"/></a>
                  </div>
                  <div class="col-md-2 hidden-xs hidden-sm vtop pull-right">
                    <a href="http://badabingsatl.com/" target="_blank"><img src="images/sponsors/bada-bings.png" alt="Bada Bings!" class="logo-small img-response"/></a>
                  </div>
                </div>
                <div class="row visible-xs visible-sm">
                  <div class="col-xs-4 vcenter" target="_blank">
                    <a href="http://atlanta.the-dog-wizard.com/" target="_blank"><img src="images/sponsors/dogwiz-bw.png" alt="Atlanta Dog Wizard" class="logo img-response"/></a>
                  </div>
                  <div class="col-xs-4 vcenter" target="_blank">
                    <a href="http://strikingmarketing.com/" target="_blank"><img src="images/sponsors/striking.png" alt="StriKing" class="logo img-response"/></a>
                  </div>
                  <div class="col-xs-4 vcenter">
                    <a href="http://badabingsatl.com/" target="_blank"><img src="images/sponsors/bada-bings.png" alt="Bada Bings!" class="logo-small img-response"/></a>
                  </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Celebrating the <span class="blue">Atlanta</span> Improv Community</h2>
                <p><a href="http://villagecomedy.com">The Village Theatre</a> is playing host to the festival that brings Atlanta improvisers together, celebrating the growth of improv in our fine city. The Atlanta Improv Festival also opens its doors to performers from all over the country, making it a weekend full of laughing and learning from each other.</p>
                <p>Not only does it plan to be a weekend full of great improv, but proceeds from ticket sales supports <a href="http://www.dadsgarage.com/">Dad’s Garage</a> as they move into their new home. The growth of improv in Atlanta has been amazing over the past 20 years, and Dad's Garage has been a part of it the whole way. We’re excited to come together to celebrate how far we've all come.</p>
                <p>Featuring special guest stars <strong>Dan Fogler</strong> (<em>Balls of Fury, Secrets and Lies</em>), <strong>Dave Willis</strong> (<em>Aqua Teen Hunger Force</em>), <strong>Matt Jones</strong> (<em>Breaking Bad, Mom</em>), and <strong>Dave Hill</strong> (<em>Reno 911!</em>)!</p>
            </div>
        </div>
    </section>

    <%= partial "shows/schedule" %>
    <%= partial "workshops/schedule" %>

    <!-- FAQs Section -->
    <section id="faqs" class="content-section">
      <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
              <h2>FAQs</h2>
              <p><span class="question">How do I see shows?</span><br/>
                First, purchase tickets <a href="http://danger-the-show.xorbia.com/">here!</a><br/>
                Then, get to <a href="#getting-there">The Village Theatre!</a>
              </p>
              <p><span class="question">What are the different ticket types?</span><br/>
                See one show, see them all! We have a plethora of ticketing options!<br/>
                <em>Single show: $10</em><br/>
                <em>Evening pass: $25</em> - Access to all shows for 1 night<br/>
                <em>Weekend pass: $50</em> - Access to all shows PLUS a fancy lanyard!<br/>
                <em><strong>VIP</strong> Weekend pass: $75</em> - Weekend Pass PLUS draft beers only cost you $1 all weekend long! That's theoretically infinite savings!<br/>
              </p>
              <p><span class="question">How do I sign up for Atlanta Improv Festival workshops?</span><br/>
                You can sign up <strong><a href="https://docs.google.com/forms/d/1gNA29na3lmHXONToXxXy_3xj_UYmGG6IPJoJEcAeTrw/viewform?embedded=true" target="_blank">here!</a></strong> One workshop is $75. Two workshops is $100.
              </p>
              <p><span class="question">Hey! What about the hashtag?</span><br/>
                Use <strong>#ATLImprov</strong> all weekend long, because we like finding things on the Internet after they are posted.
              </p>
              <p><span class="question">Are you guys partying after the shows?</span><br/>
                Yes! We're parting down the block at <a href="http://badabingsatl.com/" target="_blank">Bada Bings!</a> Walk on up the street and party with us!
              </p>
              <p><span class="question">Does this Bada Bings place have drink specials for folks going to the festival?</span><br/>
              Yes! With your Atlanta Improv Festival pass, the following discounts are available at Bada Bings:<br/>
              $3 pints / $15 pitchers Bud Light<br/>
              $5 pints / $15 pitchers  Monday Night Brewing<br/>
              $5 Jameson shots<br/>
              $5 Irish car bombs<br/>
              $5 Malibu Barbies for the ladies</p>
              <p><span class="question">OK Fine! Anything else?</span><br/>
                No? Maybe? Just <a href="mailto:questions@atlantaimprovfestival.com">email us</a>.
              </p>
          </div>
      </div>
    </section>

    <!-- Getting There Section -->
    <section id="getting-there" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Getting there</h2>
                <p>The Village Theatre is located in Downtown Atlanta, in the Old Fourth Ward neighborhood. Conveniently located in the Pencil Factory Lofts, The Village Theatre has covered parking on- site, and the theatre is across the street from the King Memorial MARTA train station.</p>
            </div>
          </div>
          <!-- Map Section -->
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12 text-center">
              <iframe class="embed-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3317.417876074794!2d-84.377153!3d33.74986599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xf54c9abbbb15ae38!2sVillage+Theatre!5e0!3m2!1sen!2sus!4v1420003926584" height="400" frameborder="0" style="border:0"></iframe>
            </div>
          </div>
    </section>
